[2015-03-09 15:44] TomSmithCGAT opened #1 "Add paired end functionality"
Currently UMI-tools dedup_umi.py only outputs the first pair for paired end BAMs although it uses the template to dedup paired end input.

Proposed solution: Use pysam.AlignmentFile.mate() to return the mate pair.

[2015-03-09 15:48] TomSmithCGAT opened #2 "Use a directional adjacency list to identify clusters"
Currently UMI-tools dedup_umi.py uses an adjacency list with a distance threshold to define connected components. By including a further threshold for relative counts in two UMIs, we can create a directional adjacency list. Each group of connected UMIs will then be considered to have originated from a single parent which has the highest counts.

Proposed solution - Use a threshold of A > 2B - 1 to

[2015-03-12 12:06] TomSmithCGAT commented on #2
Tested out various thresholds. A > 2B - 1 seems suitable.

[2015-03-12 12:06] #2 closed

[2015-03-12 12:07] TomSmithCGAT commented on #1
Done.

[2015-03-12 12:07] #1 closed

[2015-03-12 15:26] TomSmithCGAT opened #3 "Random_read_generator - memory usage"
The inclusion of calls to the random_read_generator function increases memory usage (around 0.8G for a 2.7G infile). Around a third of this is the self.umi list object which stores all the umis observed. Currently, the list is grown as required for random sampling to save some memory initially.

Proposed solution: Read through whole bam once and stores umis detected in a dictionary. Convert keys a

[2015-03-12 16:49] TomSmithCGAT opened #4 "ClusterAndReducer functor"
Currently, the cluster_and_reduce function call functions to create an adjacency list, identify connected components, reduce clusters down to a parent UMI, and return reads to be written out. Actually, there are now two cluster_and_reduce functions as a seperate function was written to allow stats to be collecting during the process.

Ultimately, it would be useful if a choice of umi deduping meth

[2015-03-16 15:26] TomSmithCGAT commented on #3
The previous figures for the memory usage of the random_read_generator class were incorrect. The self.umi list object only uses around 25 Mb for a 2.7G BAM. Furthermore, using numpy.random.choice() with weights take longer than using numpy.randrange() and slicing the list (~2 seconds longer for a 2.7G BAM). Therefore, the only change which has been made to the random_read_generator class is a call

[2015-03-16 15:26] #3 closed

[2015-03-16 16:06] TomSmithCGAT commented on #4
The proposed solution has been implemented. There are now three methods available via "--method=" (percentile, adjacency, directional_adjacency). "Percentile" removes any UMI with less than 10% of the median counts of all UMIs at a genomic loci. "Adjacency" takes the most abundant UMI and collapses in all UMIs with an edit distance of 1 and repeats the process until all UMIs in the cluster are acc

[2015-03-16 16:06] #4 closed

[2015-07-07 11:09] IanSudbery opened #5 "Missing NH tags"
dedup_umi is not very happy if the NH tag is missing from a bam entry:

[code]

 This is an optional BAM tag, and is not added by either bowtie or BWA. On the other hand, selecting which of a selection of reads maps to the fewest unique locations is part of the read selection process.

There are three options here.
1. wrap the NH statements in `try` statements and ignore this criteria if not prese

[2015-07-07 14:19] TomSmithCGAT commented on #5
My first impression is that we should go for option 3 and provide a tool in the repository (stripped back bam2bam.py?). Looking at the relevent code in bam2bam the tool for adding nh tags would be very small. However, we're then requiring the user to possibly generate new BAMs and this might be a slight barrier to people taking up the tool.

Perhaps the best option would be to paramaterise the mul

[2015-07-08 13:21] AndreasHeger commented on #5
Hi,

if this tool is very popular you will find that there are all sort of BAM-files that people use. It might be worth adding a method detect_bam_features() to check what kind of bam-file you have and then set
flags (such as has_nh, use_nh, has_xs, use_xs, use_mapq) and allow users to override them via command-line options.

You can pack bam2bam, but you could also just suggest to use it.

Best w

[2015-07-08 14:21] TomSmithCGAT commented on #5
@AndreasHeger Thanks for the suggestion. That seems the most sensible way to implement my suggestion to enable detection of multimapping by different means.

@IanSudbery Are you happy with this solution? If so I can implement it some time next week.

[2015-07-17 12:58] TomSmithCGAT commented on #5
I've implemented a solution and pushed it. However, as soon as I did I began to wonder why we're using bam tags for multi-mapping at all?..

Current, we're not actually removing multi-mapping reads explicitly, we just select the read with the best MAPQ as the representative read at each position/orientation/umi combination. Where MAPQs are tied, we select the read with the smallest number of "best

[2015-07-17 13:06] IanSudbery commented on #5
I think it is possible. Consider the following situation:

Two reads have a different single basepair miss-matches to the reference
sequence at the location currently under consideration. This would give
them the same MAPQ. Its quite possible that the different miss-matches mean
that the two reads could match different numbers of other positions.

Explain futher with the MAPQ filter. Do you mean f

[2015-07-17 13:59] TomSmithCGAT commented on #5
@IanSudbery Good point. I think BWA might actually take the number of mapping locations into account when calculating MAPQ but the manual page is currently unavailable so I can't confirm this.

Regarding filtering, yes this is what I was thinking. I guess we can just add it later if we want. I think we should implement umi sequence quality filtering at a later date too.

I've checked the deduping

[2015-07-17 13:59] #5 closed

[2015-08-05 16:03] TomSmithCGAT opened #6 "extract_umi.py only works with UMIs on read 1"
Some UMI-methods add UMIs to both paired ends. We need to enable stripping of both these UMIs from the paired reads and addition of a concatenated UMI to both paired reads.

[2015-08-12 14:48] TomSmithCGAT commented on #4
Correction. Percentile remove UMIs with less than 1% of the median counts!
As per Islam et al (2014):
 http://www.nature.com/nmeth/journal/v11/n2/full/nmeth.2772.html#supplementary-information

[2015-08-13 12:19] TomSmithCGAT commented on #6
Added options to enable extraction from both read pairs.
See ca248f0aaef2ced76aadfd6e3b6e1f9ae301b817

[2015-08-13 12:19] #6 closed

[2015-08-14 14:51] TomSmithCGAT opened #7 "index error"
I get an error when I follow the usage in the documentation for dedup.py.

`cat infile.bam | python dedup_umi.py > deduped.bam 2> deduped.log`

`ValueError: fetch called on bamfile without index`

Presumably, this is because pysam uses the filename to obtain the index? If so, is it possible to read from the stdin and pipe to dedup_umi.py?

I've removed this usage suggestion from the documentation

[2015-08-14 15:02] IanSudbery commented on #7
Hmmmm… which fetch is it that is causing these problems? You should be able
to fetch as long as you don’t call for a particular region I thought. I
wonder if its your feature detection that’s the problem? That reminds me –
this is going to consume reads isn’t it? Not so good if is on the stidin
anyway.

The piping from stdin will probably work if the input is sam, but probably
best to stick with s

[2015-08-14 15:07] TomSmithCGAT commented on #7
It's the one inside get_bundles (line 429). I'll leave it out of the documentation then. Cheers

[2015-08-14 15:07] #7 closed

[2015-08-14 15:13] IanSudbery commented on #7
Okay. I was going to allow the use of SAM files on the input, but I can’t
work out how to work around your detection method checking, so I’ve made it
raise an error if an attempt to use standard in is made.

What does the line:

sum.bam_features.values() == 0

Where is the object “sum” from?

Ian

*From:* Tom Smith [mailto:notifications@github.com]
*Sent:* 14 August 2015 16:07
*To:* CGATOxford/UMI

[2015-08-14 15:18] TomSmithCGAT commented on #7
Oops, should be sum(bam_features.values()) == 0. I'll change that now.

Not sure how that one slipped through? We should build in some regression tests!

[2015-11-23 08:38] TomSmithCGAT opened #8 "Add option to consider read length when identifying duplicates"
For sRNA-Seq, it's possible for two reads to have the same start position but different read lengths and therefore to have originated from different molecules (assuming no quality trimming has been performed). dedup_umi.py should have an option to consider read length along with the start position.

I propose adding the read length to the reads_dict key (defaulting to no value when read length not

[2015-11-23 10:12] IanSudbery commented on #8
I think this makes sense for sRNA – cloning protocols for sRNAs can clone a
range of sizes, all of which are quite likely to be shorter than the length
of the read, and thus you will get genuine (not quality related) variation
in read length that represents genuinely different read lengths.

Adding a read length to the reads_dict key should solve this problem. Make
sure this is off by default thou

[2015-11-24 11:10] TomSmithCGAT commented on #8
Fixed - ba55ddf6d031d153219d0abd3b0149be2b880833

[2015-11-24 11:10] #8 closed

[2016-01-06 17:45] IanSudbery opened #10 "dependency on psutil"
Lastest changes make the code dependent on `psutil`, which is not part of the standard library. At a minimum, this should be noted in the README, but since it is only used to output the memory used, perhaps we should reconsider if it is necessary.

[2016-01-06 20:54] TomSmithCGAT commented on #10
Apologies, Ian. This function was a hang over from some memory profiling and wasn't actually being used anymore. Function and imports have been removed.
aaa7dfa
e0ade5d

[2016-01-06 20:54] #10 closed

[2016-01-07 16:13] IanSudbery opened #11 "Deducing read position"
There is a section of the code that tries to deduce the position of the read, taking into account any soft_clipping. It looks like this:

[code]

Note that if the read is reversed, then it takes aend, finds how many bases are add for softclipping.... and then forgets all that and uses read.pos.

Where if the read is not reversed then it does use the clipping.

Any ideas why this might be? It goes

[2016-01-07 16:18] IanSudbery opened #12 "deciding when to output"
When using positions, the alogrithm uses the following code to decide whether to output or not:

[code]
note that in the second case the condition is that we are 1kb on AND on a different chr. Surely this should be OR?

This was leading to reads being output in a very strange order. Could possibly lead to reads from difference chrs being combined in the same bundle, and is possibly to blame for so

[2016-01-07 16:41] TomSmithCGAT commented on #12
I hadn't noticed that. Yeah, as far as I'm concerned the last line should be:
[code]
It'd be interesting to know how it affects memory usage?..

[2016-01-07 16:45] IanSudbery commented on #11
I think I figured this one out: start isn't actually used for indexing reads, pos is. Start is just used for figureing out if to dump the buffer or not.

[2016-01-07 16:45] IanSudbery commented on #12
I'll put it in my next commit.

[2016-01-07 16:46] TomSmithCGAT commented on #11
Just about to say that. Although is there any reason for using start rather than for this purpose?

[2016-02-01 14:57] TomSmithCGAT opened #13 "Add tests"
We need some tests. Automated travis testing would be brilliant. I'll have a word with Sebastian about this.

[2016-02-28 23:18] tomsing1 opened #14 "Correction / merge of sequencing errors"
I was wondering if you had considered merging UMIs that might be erroneous copies, eg as outlined in this [blog](https://cgatoxford.wordpress.com/2015/08/14/unique-molecular-identifiers-the-problem-the-solution-and-the-proof/) post.

If I understand the current code correctly, it considers two sequences "different / unique" if their barcodes differ even by one base (though their alignment starts a

[2016-02-28 23:19] tomsing1 commented on #14
Oops, posted the issue in the wrong project. Sorry!

[2016-02-28 23:19] #14 closed

[2016-03-10 03:45] tomsing1 opened #15 "Selecting a random read as representative for a bundle"
I believe the following code snipped from _dedup_umi.py_ shows how a random representative read is selected for a bundle when there is a tie for mapping quality.
[code]

Yet, if I understand correctly, the ```read_counts[pos][key][umi]``` counter is not reset afterward and continues to accumulate counts in case other copies of the same molecule are encountered.

Wouldn't that lead to lower probabi

[2016-03-10 11:08] IanSudbery commented on #15
At any given execution the chance of replacing the current read with the new read is reduced, yes. But averaged over the whole process the probabilities of any given read ending up as the representative one is equal, because earlier reads must be selected multiple times.

Consider a simple situation, in which there are three reads.
When the first read is found, it is selected as the representative

[2016-03-10 15:44] tomsing1 commented on #15
Thanks a lot for the great explanation!

[2016-03-10 15:44] #15 closed

[2016-03-14 08:42] KaiyangZ opened #16 "problems using dedup_umi.py (method = adjacency)"
Hi,
I got a couple of problems with I was using dedup_umi.py to handle a set of single-end scRNAseq reads ( I used the method "adjacency"), I would be very grateful if you would help me with them:
1. it is reported "Number of reads out: 34903" in the stdout log, but in my output bam file, there are actually 55847 reads, do you have any idea why they don't match?
2. it seems that there are still du

[2016-03-14 09:01] TomSmithCGAT commented on #16
Hi Kaiyang,

Would you be OK to email me a pre-deduplication BAM with just reads at this position. I can have a look at what's going on here.The only difference I can see between those alignments is that one has been softclipped by an additional base, though that I wouldn't expect that to cause a problem. I'll have a look at the logging of outputted reads out at the same time.

Tom

Tom Smith, PhD

[2016-03-14 10:16] IanSudbery commented on #16
Hi,

I can see what is happening in both cases.

Firstly, the read logging is just wrong. It appears that we are logging positions output rather than reads output. That is easily fixed.

The second issue is more interesting.

The difference between the two reads is indeed the softclipped base at the end of the CIGAR string. These reads are on the reverse strand. Thus the end of the CIGAR string is

[2016-03-14 10:40] IanSudbery commented on #12
Done, see 7490815a97e4affd959d215505dec987af5e9e21. Can lead to a drastic reduction in memory usage.

In my test of one chr, memory usage went from 3Gb to 300mb. This is good because on a full genome, I was breaching a 21Gb usage!

[2016-03-14 10:40] #12 closed

[2016-03-14 10:41] TomSmithCGAT commented on #12
Thanks Ian!

[2016-03-14 13:01] KaiyangZ commented on #16
Hi Tom and Ian,
Thanks a lot for your reply.
We were following the single-cell tagged reverse transcription (STRT) protocol, where the amplified cDNAs are "fragmented"  and tagmented using Tn% transposase carrying a well-specific barcode. In theory, the reads from different PCR copies should all start from the 5'end of the original mRNA molecule. So I think in this case, the genome mapping positio

[2016-03-14 13:45] IanSudbery commented on #16
Hi Kaiyang,

The STRT-umi protocol says that non-template Gs are added to the 5' end of the reads, between the UMI and the start of the cDNA, and that they trim a maximum of 9 of these off. Have you trimmed these off? If so, this could be a rare read with 10 non-template Gs on the start.

[2016-03-14 14:40] KaiyangZ commented on #16
Hi Ian,
yes, exactly, this should be the reason. I also trimmed maximum of 9 Gs following UMIs off. Now I will remove all successive Gs following the UMIs and check the result. There should be no harm even if the template Gs are removed, in which case the start positions of all reads from the same molecule will be shift the same number of bases right. Thanks again for your help. 

    On Monday, M

[2016-03-15 08:04] KaiyangZ commented on #16
Hi Ian,
I rechecked the reads file after trimming, the additional G in the second read is actually a C at 5' end of the read (as the read mapped on the reverse strand), so it cannot be the non-template Gs... 

    On Monday, March 14, 2016 3:46 PM, Ian Sudbery <notifications@github.com> wrote:

 Hi Kaiyang,The STRT-umi protocol says that non-template Gs are added to the 5' end of the reads, betwee

[2016-03-23 09:39] IanSudbery commented on #16
Sorry for letting the ball drop on this. Did you mange to sort your problem? I'm not sure it really makes sense for these reads to be marked as duplicates because they have different sequences at the 5' end of the read (I might be more inclined if they were at the 3' end) but I suppose we could make it an option.

[2016-03-23 09:40] IanSudbery commented on #11
Yes, its to do with making sure that when the buffer empties there is no chance of missing spliced reds.

[2016-03-23 09:42] #11 closed

[2016-03-23 14:50] nsarode opened #19 "Syntax error"
I get the following syntax error when testing out the script. Is this some python version issue or something else (using version 2.6.6)
python dedup_umi.py --help
  File "dedup_umi.py", line 296
    for umi in umis}
      ^
SyntaxError: invalid syntax

Thanks,
Neha

[2016-03-23 15:04] IanSudbery commented on #19
Dear Neha,

Yes I’m afraid it is a python version problem. Currently we only support
2.7. We are working on a proper installation routine that will test for the
correct version of python. Unfortunately, in terms of expanding our
support, we see supporting python 3 as a higher priority than supporting
2.6.

Ian

[2016-03-23 16:57] nsarode commented on #19
Not a problem and thanks for getting back to me real quick. This should be an easy problem to fix.

Thanks !
Neha

[2016-03-23 16:57] #19 closed

[2016-03-24 14:49] nsarode opened #20 "ValueError: need more than 0 values to unpack"
Hi, I was trying out the dedup_umi script (using adjacency as the method) for a set of bam alignment files. The following message was displayed and I am not sure if this has something to do with the input or something else.

Traceback (most recent call last):
  File "/data/home/nsarode3/git_repos/UMI-tools/dedup_umi.py", line 1046, in <module>
    sys.exit(main(sys.argv))
  File "/data/home/nsarod

[2016-03-25 00:22] IanSudbery commented on #20
Hi Neha,

Would you mind posting a couple of lines from your input lines? This could happen if the alogrithmn was having trouble finding the UMIs.

Ian
---

[2016-03-25 17:46] nsarode commented on #20
Hi Ian,

Thanks for getting back to me. I am pasting below few lines from a file that gave me that error.

**Sequence input fastq file:**

@M01562:125:000000000-ALULG:1:1102:28320:10908_TGATAATTGA
GTGTCCCTATAGTGAGTCGTATTACGTCATCGGG
+
BBAABFFFFFFFDGGFGFEFGGHHGGHHGGHHGG
@M01562:125:000000000-ALULG:1:1105:13358:10552_CAGTCATACA
CCCATATTCAGACAGGATACCACGTGTCCCGCCCTACTCATCGAGCTCACAGCATGTGCATTTTTGTGTACGG

[2016-03-30 11:11] KaiyangZ commented on #16
Hi lan,
I kept them as reads from distinct molecules, but I am wondering what is the reason for considering the the start position of a read to be the start of its alignment minus any soft clipped bases instead of simply the start of the alignment. 
Thank you very much.
Kaiyang

    On Wednesday, March 23, 2016 11:39 AM, Ian Sudbery <notifications@github.com> wrote:

 Sorry for letting the ball dr

[2016-03-30 14:46] TomSmithCGAT commented on #20
Hi Neha. Apologies for the delay. All those reads are unmapped. In all cases the Sam flag (column 2) = 4, and there's no alignment information in the following columns. Could you first check you have mapped reads in your bam:

    samtools view -f4 -c BAMFILE

If that returns 0, then the bamfile doesn't contain any mapped reads

[2016-03-30 16:01] nsarode commented on #20
Hi Tom,
No worries about the delay. I ran the command on the bam file I pasted above and it returned '4' . But you are correct, the "ValueError: need more than 0 values to unpack" error came only for those files where no reads were mapped (checked back on each file).

Is there any manual or wiki for UMI that I could refer to instead of bugging you or Ian with silly problems like these ?

Thanks,
N

[2016-03-30 16:06] TomSmithCGAT commented on #20
Hi Neha. You can run either script with the "--help" options to get the documentation. We don't have a manual right now but the  It sounds like you might need to return to the mapping stage though if you have bamflies without any aligned reads.

[2016-03-30 17:07] nsarode commented on #20
Yeah, am working on sorting that right now.

Thanks for your help !

[2016-03-30 17:07] #20 closed

[2016-03-30 19:55] TomSmithCGAT commented on #16
Hi Kaiyang. To quote Ian's original response, "When deduplicating, dedup_umi uses the position of the first base in the read, not 5' most base of the alignment (ie the BAM pos field).", hence the identification of soft-clipped bases.

The reason for this is that two reads could have the same alignment position but have different true start positions. Imagine we have two rna-seq reads from the same

[2016-04-05 17:00] peterch405 opened #21 "Is the TS-RefactorTools branch not ready yet?"
I was opting to get the version that doesn't depend on CGAT, but simply running `umi_tools dedup --help` produces this error:

`Traceback (most recent call last):
  File "/usr/local/bin/umi_tools", line 9, in <module>
    load_entry_point('umi-tools==0.0.1', 'console_scripts', 'umi_tools')()
  File "/usr/local/lib/python2.7/dist-packages/umi_tools-0.0.1-py2.7.egg/umi_tools/umi_tools.py", line 39,

[2016-04-05 17:57] IanSudbery commented on #21
Hi peterch,

The refactored branch is still undergoing testing. The problem is that the cython extension is not being isntalled in your site packages. A work around until we fix this is to install with:

[code]

It will run the code from the clone repository and will be able to find the _umi_tools extension.

[2016-04-05 18:00] IanSudbery opened #22 "future module should be listed as a dependency"
turns out `future`, as used by `dedup.py` is not installed by default and should be listed as a dependency.

[2016-04-06 21:42] TomSmithCGAT commented on #21
Hi Peterch. The branch is not yet ready to merge into master but umi_tools should be available through  pip and conda now without the CGAT dependency. I've only tested the installation out under limited conditions but if you'd like to try it that would be very helpful. We're on our way to supporting python3 but currently only python >2.7 is supported.

If you use pip, you'll need to have pysam==0.

[2016-04-06 21:42] TomSmithCGAT commented on #22
Done. See b2f072ad93f5c0c4e1d071bd5eb1d628c1736327

[2016-04-06 21:42] #22 closed

[2016-04-22 09:29] peterch405 opened #23 "Seq error correction after dedup"
I was wondering, how do you merge the duplicate read or do you simply discard them? I would be interested in looking at the full sequence and possibly deriving a consensus to correct for pcr/seq errors.

[2016-04-22 09:39] TomSmithCGAT commented on #23
Hi Perch, we just output a single "best" read. This read should be the consensus since it will have the highest counts.

If you really want to retain all the duplicates but have them marked them in some way so you can manually derive the consensus, I guess we could add this as an option?

[2016-04-22 10:44] peterch405 commented on #23
That sounds good.

[2016-05-03 13:18] IanSudbery commented on #23
Hi Guys, I'm a bit worried what this might do to the memory usage. We keep a buffer of reads to ensure that we get all the reads from a region before outputting (because we using the start of the read in orientation, rather than genome orientation - i.e. for a read on the reverse strand we care about the 3' most coordinate, not the BAM pos field). At the moment we only retain the representative re

[2016-05-10 16:56] TomSmithCGAT commented on #21
This branch has now been merged with master

[2016-05-10 16:56] #21 closed

[2016-05-16 20:26] royfrancis opened #24 "Extract pattern format"
In the help content for `umi_tools extract`, the explanation for pattern is a bit confusing. If Ns are random bases and Xs are UMIs, then Xs should be extracted for name and Ns must be reattached as read? If so, in the example below, GG should be added to the read name.

       --bc-pattern
       Use this option to specify the format of the UMI/barcode. Use Ns to
       represent the random posit

[2016-05-18 09:55] IanSudbery commented on #24
Hi There,

The Xs refer to the sample barcode, not the UMI barcode. The UMI barcode is the "random bases". The necessity for this comes from labeling scheme used in several techniques, most commonly iCLIP, where the UMI is formed of several independent sub sequences - that pattern looks like:

UMI-UMI-UMI-Sample-Sample-Sample-Sample-UMI-UMI

for which we would input NNNXXXXNN for the --bc-pattern

[2016-05-18 10:21] royfrancis commented on #24
Aha. ok. Thanks. So Ns are UMI bases.

[2016-05-18 10:21] #24 closed

[2016-05-18 10:32] royfrancis opened #25 "umi_tools extract run error"
I have paired end data (2 fastq files, 77 mil reads) and I have 8 nt UMI bases on the 5' end of the first fq file.

I have a shell script file with this content:

[code]
where  `$1` is the first fq file (fwd) and `$2` is the second fq file (rev). And run as `script.sh file_1.fq file_2.fq`. I get the below error after the script runs for a couple of minutes.
[code]

Strangely, it works fine on a sm

[2016-05-18 12:09] IanSudbery commented on #25
Hi There,

I think this is almost certainy due to running out of memory - the "Killed" suggests that the job was killed by the OOM killer. The broken pipe comes from the fact that once the umi_tools process died, the cat had nowhere to send data.

I'm going to have a look at why it might be using so much memory.

[2016-05-18 12:18] royfrancis commented on #25
I had tried increasing the memory from 16GB to 48GB and I still get the same error.

[2016-05-18 14:32] IanSudbery commented on #25
Hi Roy,

Can you try the code in [extract_memory](/CGATOxford/UMI-tools/tree/extract_memory) branch. It should reduce the memory usage from 100s of GB to 100s of MB for paired end files.

Let me know if this fixes your problem.

[2016-05-19 20:12] royfrancis commented on #25
Hi Ian,
This time, it worked, the run completed successfully without errors in 30 mins (74 mil reads paired-end). Available resources was 6 cores and 48gb RAM. This was reported from the job controller during the run:
`slurmstepd: Exceeded step memory limit at some point.`
which usually means that the job had exceeded the pre-allocated 48gb.

But on inspecting the job report, it seems like only a

[2016-05-20 09:01] IanSudbery commented on #25
Glad that it works now.

Currently the application isn't currently multithreaded. We might add multithreading at a later date, but it is not currently a priority.

[2016-05-20 09:23] royfrancis commented on #25
Thanks for the quick fix.

[2016-05-20 09:23] #25 closed

[2016-05-23 13:27] casimonet opened #27 "--3prime option"
Hi,

I am trying to extract my UMIs  from my reads to add it to the reads names. The UMIs are on the 3prime end so I used the --3prime option.

The help does not specify anything else to do but add this option in the command line when we want to use it. However the output seems to suggest that some arguments should be added to this option. Which ones are they?

Here is my command:
srun umi_tools e

[2016-05-23 13:46] TomSmithCGAT commented on #27
@IanSudbery Can you confirm that the _joiner_3prime function can be ammended thus 4572943

[2016-05-23 13:57] TomSmithCGAT commented on #27
Hi Camille,

Sorry there was an unused option for the _joiner_3prime() function. This has been amended on the master branch and pushed to PyPi and Conda so you should be able to install the latest version (v0.0.11).

Thanks for raising this!

[2016-05-23 14:25] casimonet commented on #27
Ok great thank you,

Camille

[2016-05-23 15:45] casimonet opened #29 "UMI removal"
Hi,
Sorry to open another issue. The fact that the UMI is removed from the sequence is a problem for downstream analyses. For example for building a bam file where the reads are filtered for UMI in which bases have a low quality. Or simply to keep a column with the UMI in the bam file, which can be more practical than having the UMI in the reads name for certain downstream analyses.

Is there no w

[2016-05-23 16:07] TomSmithCGAT commented on #29
Hi Camile,

No need to apologise. Comments are always very welcome.

You raise two issues:

1. Filtering on quality
2. Retaining the UMI elsewhere in the BAM file

1. Filtering on quality:
It's not realistically possible to cover all possible filtering one might wish to apply to the reads. Previously, where I've needed to do this, I've written bespoke code to perform the filtering at the UMI extra

[2016-05-23 16:23] IanSudbery commented on #29
Retaining the UMI on the read is not possible: if you were to leave the UMI on the read, your reads would not map.

I think adding quality filtering to extract is probably a good idea in the medium to long term. However, until that point i'd recommend filtering on the UMI quality before trimming the UMI.

I have previously started thinking about a tool for moving UMIs around a BAM record - certain

[2016-05-23 16:50] arnoldliaoILMN opened #30 "dedup works on all bam?"
What is the requirement for a bam file for umi_tools to take in?  I am encountering some error on some generic bam.  http://hgdownload.cse.ucsc.edu/goldenPath/hg19/encodeDCC/wgEncodeUwRepliSeq/wgEncodeUwRepliSeqBg02esG1bAlnRep1.bam

dedup -I wgEncodeUwRepliSeqBg02esG1bAlnRep1.bam -S wgEncodeUwRepliSeqBg02esG1bAlnRep1.dedup.bam

  File "/usr/local/bin/umi_tools", line 11, in <module>
    sys.exit(m

[2016-05-23 16:58] IanSudbery commented on #30
umi_tools was designed to work on BAM files that include a UMI sequence in the read name, separated from the body of the name by an underscore, such as those produced by umi_tools extract.

It is possible to use dedup on BAM files that do not contain UMI sequences by specifying the `--ignore-umi` switch on the commandline, but other tools such as picard's `MarkDuplicates` or `samtools rmdup`  migh

[2016-05-24 06:59] casimonet commented on #29
Hi

If a filtering option could be implemented it would be very useful.

The idea of moving the UMI to a BAM field is to make it compatible with a previously designed pipeline. In particular the quality filtering actually. As suggested by @IanSudbery the best way is to do this before UMI extraction for now.
I'm not sure to what extent the pipeline I have is a commonly used strategy but being able

[2016-05-24 13:48] IanSudbery commented on #27
Can this issue now be closed?

[2016-05-24 16:08] casimonet commented on #27
Yes, Than you

2016-05-24 15:49 GMT+02:00 Ian Sudbery <notifications@github.com>:

[2016-05-24 16:12] royfrancis opened #31 "dedup dir-adjacency too slow/does not complete"
I started with a 12gb BAM (77 mil reads) using 3 cores and 24GB RAM. It did not complete in 2.5 hours or even close. Output BAM after 2.5 hours was 2.3MB. Then I extracted one chromosome to create a 314MB BAM. Dedup was run on this small BAM for 1 hour and it was still incomplete. A truncated BAM file of 12.4MB was exported. I ran `qualimap bamqc` on both files (1 chromosome bam before dedup and a

[2016-05-24 17:15] TomSmithCGAT commented on #31
Hi Roy,

I've not used qualimap bamqc but from a quick read of the documentation it appears it detects duplicates using the start position. If you're using an aligner which can "clip" the reads it may miss-estimate the duplication rate. Would you mind running Picard MarkDuplicates as well to compare the output?

Regarding the time taken, this is indeed very slow. Would you be OK to share with me t

[2016-05-24 17:17] #27 closed

[2016-05-24 18:08] royfrancis commented on #31
Hi Tom,
[Here](https://dl.dropboxusercontent.com/u/78814791/sites/drt-f1-bt-1/C18-02B-BIOQ-sktrim-um-star-ensembl-Aligned.sortedByCoord.out.1.bam) is the bam file. Paired-end .fq files were processed using `umi_tools extract` and mapped using STAR (default settings with gtf). I haven't used `MarkDuplicates`, but I can look into that.

[2016-05-24 19:57] tylo42 opened #32 "UMI directional adjacency count comparison"
Unless I'm misunderstanding what is going on in `_get_adj_list_directional_adjacency` (https://github.com/CGATOxford/UMI-tools/blob/master/umi_tools/dedup.py#L308), it appears that the comment and the code do not match. The comments claim that the UMI counts are compared with a greater than comparison, but the code compares them with a greater than or equal to symbol. I noticed this because at loc

[2016-05-24 20:12] royfrancis commented on #31
`MarkDuplicates` does not seem to complete (no output bam or metrics report) with truncated BAM file.

[2016-05-24 21:30] TomSmithCGAT commented on #32
You're correct that the code does not match up with the documentation - I'll update this. Thanks for pointing this out.

Since the blog post, we've switched to using Na >= (2* Nb) - 1, where Na = Node A and Nb = Node b, as described in the  [pre-print](http://biorxiv.org/content/early/2016/05/10/051755.full.pdf+html). This threshold was found to slightly improve the edit-distance relate to the nul

[2016-05-24 21:33] TomSmithCGAT commented on #16
@KaiyangZ Can I close this issue?

[2016-05-25 05:50] KaiyangZ commented on #16
Sure, thanks a lot for your help.

    On Wednesday, May 25, 2016 12:45 AM, Tom Smith <notifications@github.com> wrote:

 @KaiyangZ Can I close this issue?—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-05-25 06:54] #16 closed

[2016-05-25 13:00] tylo42 commented on #32
Thank you so much for you quick and detailed response!

[2016-05-25 15:12] TomSmithCGAT commented on #31
Quick side note. You have lots of multimapped reads in your BAM.

``samtools view file.bam|cut -f12|sort|uniq -c|sort`` gives:

  26598 NH:i:10
  28680 NH:i:9
  32512 NH:i:8
  34716 NH:i:7
  47274 NH:i:6
  65130 NH:i:5
 132028 NH:i:4
 284914 NH:i:3
 735984 NH:i:2
3717082 NH:i:1

As it stands, for a read which maps to 10 locations, each mapping location will be considered independently. Thus, the f

[2016-05-25 15:20] TomSmithCGAT commented on #31
On to the real issue of the time taken.

This looks to be solely due to the time taken to find the paired end mates. You can test this yourself by dropping the ``--paired`` option. I don't have the profile stats yet because it's still not finished 2 hours later(!).

You have a relatively low duplication rate so most positions contains just a single read. The outputting therefore requires many call

[2016-05-25 16:44] #32 closed

[2016-05-26 08:41] AndreasHeger commented on #31
Hi Tom, mate is indeed best avoided in large datasets. Caching is better, but might be complicated to implement if you want to output a sorted file. It might be easier doing two passes on the bam. ‎To conserve memory,  you could do the double pass per chromosome or smaller region. Best, andreas

[2016-05-26 09:08] IanSudbery commented on #31
Thanks for that @AndreasHeger. The output is already non-sorted, so perhaps we should consider caching.

[2016-05-26 09:30] TomSmithCGAT commented on #31
@IanSudbery

A very simplistic "two-pass" approach would be to run through the bamfile one chromosome at a time and store the reads as a ordered dictionary mapping reads ids to their paired reads, then re-pass through the keys to perform the dedup, emptying the dictionary after each chromosome. I'll test this out as an immediate solution.

Alternatively, we could cache as we go but this will be a

[2016-05-26 15:02] IanSudbery commented on #31
@TomSmithCGAT
Two pass is definitely easier to implement, but would need to do very careful memory profiling. When I was caching whole chromosomes before memory usage was getting up in the 10s of GB for large files. But was caching at the read bundle level (i.e. pre-cluster collapsing), so might be better with caching after this.

I think falling back on the .mate() for chimeric reads is the way t

[2016-05-26 17:55] TomSmithCGAT commented on #31
@IanSudbery
Could you take a look at a 2pass option I've implemented in 35c776c.

I had to change things around a bit to allow the 2 pass option to store the read pairs on a per-contig basis. Note the new class "Writer" which takes the reads, passes them to the "ClusterAndReducer" functor and has method to write out the resultant reads and stats.

I've tested it on the above single chromosome BAM

[2016-05-27 09:01] casimonet opened #34 "--multimapping-detection-method"
Hi,
I have a short question related to the --multimapping-detection-method

the help specifies that "Setting this option to NH, X0 or XT will use these tags when selecting the best read amongst reads with the same position and umi"
Does it means that if several reads map at the same position/same strand/same umi, a read with a tag stating it is a secondary alignment will be less preferably selecte

[2016-05-27 09:17] TomSmithCGAT commented on #34
Hi Camile,

You're correct that a read which is multimapped will not be selected if there are uniquely aligned reads at the same position. It would be possible to optionally turn off this feature but this wouldn't help you with your analysis. This is because our _dedup_ will not guarantee to return all the alignments for a given read since it deals with each position independently.

Imagine a read

[2016-05-27 09:58] IanSudbery commented on #34
Hi Camile,

An alternative would be to pre-process your BAMs to set the NH tag to 1 in all cases. Thus you would effectively eliminate the number of mappings as a criteria for selecting reads.

[2016-05-27 10:22] TomSmithCGAT commented on #34
@IanSudbery This would still result in a final BAM which was incompatible with the downstream analysis if any method other than "unique" is used as some reads will lose their multiple alignments. I think the multiple mapping issue ideally needs to be dealt with prior to UMI-Tools.

[2016-05-27 10:23] casimonet commented on #34
Hi,

Thank you for your answers.
Even if I remove the number of mappings as a criteria for selecting reads, if I have let's say two reads (a and b), having a different UMI due to sequencing/PCR error, both mapped to two positions. Since each position in treated independently, I could end up with read a selected at the first position and read 2 selected at the second position, thus having two disti

[2016-05-27 10:52] TomSmithCGAT commented on #34
@casimonet That's a very similar, related issue. Essentially because dedup considers each position independently, quite a few unwanted results can arise if you have multimapped reads.

As I see it you have two choices:

1.  **Only report a single alignment position per read**
Iterative mapping should give you a better alignment position than simply taking a random position from the N best. I'd rec

[2016-05-27 12:22] IanSudbery commented on #31
@TomSmithCGAT: A couple of points

 1) What happens if there are multimappers?
 2) Isn't it more memory efficient to dedup, save the read1s you want to output, and then go through looking for the read2s?
3) I think the execution path is getting a bit complicated.

I'm working on a suggestion.

[2016-05-27 12:30] casimonet commented on #34
Ok I'll see what I can do with this.

Thank you very much for your answers,
C.

[2016-05-27 12:37] #34 closed

[2016-05-27 12:50] TomSmithCGAT commented on #31
@IanSudbery
1) I think this is a general area that needs more consideration. I'm not sure there is any way to sensibly deal with secondary/supplementary alignments in the deduplication unless we keep another dictionary mapping primary to secondary/supp. alignments and output all alignments if the primary is retained. We wouldn't want to output secondary/supp. alignments in cases where the primary

[2016-05-27 13:36] IanSudbery commented on #31
RE: multimappers - I think the cleanest way to deal with multimappers,
is to say its not our problem. The user should deal with them
independently. If they want to leave them, in, thats their decision -i
think we should leave them in if they are there. The only correct
alternative would be to consider all positions simultaneously. Thats
beyond our scope at the moment i reckon.

Im less sure about

[2016-05-27 13:49] TomSmithCGAT commented on #31
I agree this should be up to the user. On reflection perhaps the secondary/supp. skipping should be optional rather than enforced. I think we should mention multi-mapping in the documentation.

I think we should take a similar approach to chimeric reads - leave them in (pull out the paired end with .mate() as we discussed) and have an option to skip them entirely at the users choosing. Out of inte

[2016-05-28 09:37] IanSudbery commented on #31
I'd go further than that. I'd say that if they want to filter out secondary/supplimentary alignments, let them do it themselves; in the way they see fit.

I'm not really sure how mate pairing works in the presence of supplementary alignments. Is the mate of the primary read1, the primary read2? or just the next on in the chain? I suspect this vaires from mapper to mapper. Could be the same is true

[2016-05-28 10:21] TomSmithCGAT commented on #31
@IanSudbery I like the simplicity and cleanness of re-defining the outfile object and it's write and close methods for paired end reads. Nice!

I beleive lines 959-964 need to be removed so that read pairs are only written once when using the --ignore-umi option.

I'm surprised it's any slower to be honest but the gain in memory efficiency more than outweighs this small difference.

[2016-05-28 10:24] TomSmithCGAT commented on #31
Regarding secondary/supp. alignments in paired end, STAR appears to output a proper pair of alignments for so each alignment1 has it's own alginment2, even where the alignment1 is the same in both cases. I expect this will indeed vary for other mappers. Let's do as you say and leave it to the user to generate a suitable BAM but include some more information in the documentation regarding multimapp

[2016-05-31 09:10] IanSudbery commented on #31
@TomSmithCGAT Thanks for catching that - i've sorted it and submitted a PR.

WRT secondary/supp - I was more worried about supplementary than secondary - i.e. where different parts of read1 are mapped two several locations, as are several parts of read2. I think STAR outputs these to a separate file, but I think BWA puts them all in the same file.

[2016-05-31 12:01] TomSmithCGAT commented on #31
@royfrancis Could you update UMI-Tools to the latest version (v.0.2.0). This should speed up the de-duplication stage considerably.

[2016-05-31 12:01] TomSmithCGAT commented on #29
@casimonet The latest version of UMI-Tools (v.0.2.0) now allows reads to be filtered out during the extraction stage using the quality scores (see options --quality-threshold and --quality-encoding)

[2016-06-01 13:37] royfrancis commented on #31
Hi Tom,
I just tried on the same 1 chromosome bam and it completed in 60 mins (2 cores+16gb RAM). For comparison, I filtered unique reads into a new bam file and ran dedup again. This time it finished in 37 mins. The good news is that `dedup` reaches completion. But I estimate my original bam file (unique filtered) to take about 16 hours. Btw, does this new version v.0.2.0 incorporate the changes

[2016-06-01 15:26] IanSudbery commented on #31
Hi @royfrancis,

I don't suppose its much help, but you are probably getting hammered by the stats computation: running your chr1 BAM on my machine takes 2 mins 30 without stats and 25 mins with stats. This is probably due us not finding an efficient way to randomly sample reads from a BAM file.

[2016-06-02 11:52] royfrancis commented on #31
I ran my full bam yesterday for 18 hours and it still failed. Is there some way to output the progress, so as to estimate how much of the bam file was completed?

[2016-06-02 13:41] IanSudbery commented on #31
Hi Roy,

If you turn the verbosity up to 5 with -v5, a message should be printed to the log every 10,000 alignments processed.

[2016-06-03 11:54] IanSudbery commented on #31
Hi @royfrancis,
While we work on the speed and memory efficiency of the stats module, perhaps one solution would be run dedup without stats on your complete data set, and just run the stats module on a one chromosome subset.

[2016-06-03 17:17] KaiyangZ opened #37 "Failed to install with pip"
Hi,

I was trying to install umi-tools with "pip install umi_tools", but it failed with the error "IOError: [Errno 2] No such file or directory: 'requirements.txt'", do you have an idea how to fix it?

Thanks!

--Kaiyang

[2016-06-06 11:56] IanSudbery commented on #37
Hi @TomSmithCGAT - looks like requirements.txt is missing from the latest pypy version. Also, its downloading and installing 0.10.0 rather (which I think is a typo and should be 0.0.10?) rather than 0.2.0. I don't have the credentials for pypy, so I wonder if you could fix this?

Ian
---

[2016-06-06 12:19] TomSmithCGAT commented on #37
Hi @IanSudbery. This is odd. I'll have a look at this tomorrow.

[2016-06-07 11:06] TomSmithCGAT commented on #37
Hi @KaiyangZ This should be fixed in the latest version (0.2.3). Please can you use pip install umi-tools==0.2.3 and let me know if you have any problems

[2016-06-07 11:06] TomSmithCGAT commented on #37
@IanSudbery You're right about the misnaming. Pypi wouldn't update the version name so I've deleted this release entirely

[2016-06-07 12:29] royfrancis commented on #31
It still did not work for me. I am not sure what stats is, but is it just a matter of not including this `--output-stats=`  like so

[code]

[2016-06-07 12:35] IanSudbery commented on #31
Yes, exactly.

[2016-06-08 07:13] KaiyangZ commented on #37
Hi @TomSmithCGAT , it works fine now, thanks a lot!

[2016-06-08 07:27] #37 closed

[2016-06-08 07:28] #30 closed

[2016-06-14 16:26] IanSudbery commented on #31
Hi Roy, was there anything in the error or log file?

[2016-06-15 06:09] royfrancis commented on #31
Here is the log file after running the full bam for 5 hours (3 cores, 12gb ram) without stats. The error file was empty.
[log.txt](https://github.com/CGATOxford/UMI-tools/files/315509/c18-02b-bioq-sktrim-um-star-ensembl-sorted-unique-dedup-log.txt)

[2016-07-22 19:40] peterch405 opened #39 "Use within python script"
Not really an issue, more of a question. I am trying to run umi_tools with a python script and instead of using `subprocess` I just imported it:

[code]

But it only outputs an empty file. Any suggestions on what I am doing wrong? Thank you.

[2016-07-24 21:15] TomSmithCGAT commented on #39
Hi again Peter. I've not tried running umi_tools in this way - I'll have a look and see what's going on.

[2016-07-25 15:46] peterch405 opened #40 "python3.5 - iteritems error"
[code]

Seems like it should be something more along these lines?

[code]

http://python-future.org/compatible_idioms.html

[2016-07-25 16:17] peterch405 commented on #40
Changed line 784-789 in dedup.py:

[code]
and managed to break something else, not sure what this time:

[code]

[2016-08-01 15:17] IanSudbery commented on #40
Looks to me like in Py3, the Counter.keys() function returns something of class dict_keys, where as in py2.7 it returns a list. Wrapping the call to self.frequency_counter.keys() in list() on line 794 might do the trick.

[2016-08-08 13:28] peterch405 commented on #40
Created a pull request which hopefully fixes this.

[2016-08-11 11:16] IanSudbery commented on #40
Merged PR #41 .

Thanks for your help.
Can we close the issue?

[2016-08-11 12:21] matthdsm opened #42 "added UMI-tools to bioconda"
Hi

I've taken the liberty of adding the latest release of your tool to the bioconda repository.
I'm also working on a wrapper to be able to use the tool inside Galaxy

Hope you don't mind!

Cheers
M

[2016-08-11 12:23] peterch405 commented on #40
I would say yes.
Thank you.

[2016-08-11 12:23] #40 closed

[2016-08-18 16:32] TomSmithCGAT commented on #42
@matthdsm Thanks very much! I had given it a go getting UMI-Tools into Bioconda but came up with errors and never got around to debugging.

Let us know if there's anything we can do to help.

Cheers

[2016-08-18 16:32] #42 closed

[2016-08-24 15:55] TomSmithCGAT opened #44 "Dedup by per-gene"
Currently, dedup can work on a per-position or per-contig basis.The per-contig method is implemented for single cell RNA-Seq methods such as e.g CEL-Seq where the position of the read on a transcript may be different for reads generated from the same initial molecule. However, this requires that the reads be aligned to a single contig, i.e a representative gene model. Ideally we would like to alig

[2016-08-24 16:24] IanSudbery commented on #44
Is it neccesery to sort the BAM before hand? Could we not just, for each gene, run a fetch with a list of contigs associated with each meta-contig? Something like:

[code]

It would of course require an indexed bam as the input rather than being able to read off the stdin.

[2016-08-24 16:28] TomSmithCGAT commented on #44
Yup, that's much simpler!

[2016-08-26 07:29] KaiyangZ opened #45 "Number of reads supporting each UMI"
Hi,

Is a way to output the number of reads that support each UMI before and after deduplication?  It is useful for check the quality of the data.

Thanks!

[2016-08-26 10:14] IanSudbery commented on #45
Hi,

I believe that --further-stats will output the number of times each UMI sequence is used before and after deduping, but I presume you mean for each position/gene? Thats not currently a feature, but I can see how it would be useful. We'll consider adding it in the future, I don't think it could be too hard.

[2016-08-26 11:36] KaiyangZ commented on #45
Yes, it would be nice it can be available for each position/gene.  Thanks a lot!

    On Friday, August 26, 2016 1:14 PM, Ian Sudbery <notifications@github.com> wrote:

 Hi,I believe that --further-stats will output the number of times each UMI sequence is used before and after deduping, but I presume you mean for each position/gene? Thats not currently a feature, but I can see how it would be use

[2016-09-12 13:00] IanSudbery opened #46 "Improve non-conda setup"
Currently Conda installation works well, but installation via pip or downloading the tarball works much less well.

The current problems are:
- Although setuptools allows downloading and installing of dependencies, the current setup.py requires them to be installed before it has the chance to install them
- Assumes that setuptools is installed

In order to fix:
- [x] Bootstrap setuptools to instal

[2016-09-12 13:33] IanSudbery commented on #46
cc: @TomSmithCGAT
requirements.txt not included in pip tarball

- [ ] Add requirements.txt to pip tarball

[2016-09-12 16:28] IanSudbery commented on #46
setuptools claims pysam isn't installed when it is

[2016-09-13 18:08] IanSudbery commented on #46
@TomSmithCGAT:  See the install branch

Setup is now pretty much working on Linux (or where it isn't I know the problem and why it can't be fixed). and I've written an installation guide. This all needs test on OS X. If possible, this needs to be:

*  By all three routes (Conda, pip, source)
*  On a factory fresh install (I believe that if you are on a Mac, you can run OS X VMs for this)
*  On mor

[2016-09-14 07:45] TomSmithCGAT commented on #46
@IanSudbery Thanks for the work on the install branch. I'll test Mac later this week.

[2016-09-18 13:05] TomSmithCGAT commented on #46
@IanSudbery I think we still need cython for setup.py. I'm testing out the installation from source with a clean python library and I get the following error when I run python setup.py install:

NameError: global name 'tempita' is not defined

It looks like this is becuase pandas needs cython though it doesn't currently error if cython is not available [#14202](https://github.com/pydata/pandas/iss

[2016-09-18 14:41] TomSmithCGAT commented on #46
The issue with cython is resolved by including cython in the `setup_requires` variable - see 7bd0cedd4e9c6ac92168ce854372a76cd96ba1f6

[2016-09-18 14:51] TomSmithCGAT commented on #46
@IanSudbery.

I've tested the following on Mac (OS X El Capitan, 10.11.6) with a clean python library:

- pip (v0.2.3)
- conda (latest commit on the install branch)
- from source (latest commit on the install branch)

I had some issues with pip when using the default python location, relating to the the new OS X feature Security Integrity Protection which prevents anyone (inc. root) from writing t

[2016-09-18 15:03] IanSudbery commented on #46
Interesting.

The trouble with cython in setup_requires, is that although easy_install respects setup_requires, pip doesn't. I did put in the installation guide that if you are installing from source, you need to install cython first.

The thing with the defaul python on OS X is annoying ... its all very well to tell people they need to not use the default python, but thats going to frighten a bun

[2016-09-18 15:05] IanSudbery commented on #46
How clean did you test - If you are going to use `pip`, then I think you need to test if the instuctions for installing `pip` work, because I don't think that OS X comes with `pip` installed as default. Also there is no C compiler (gcc) installed by default on OS X.

[2016-09-18 15:18] TomSmithCGAT commented on #46
Hi Ian. Agree it's a shame to have to ask the user to use a non-default python but I think the target user should be OK with this. Perhaps we could add in an example of how to do this by installing python using homebrew as per the instructions [here](http://docs.python-guide.org/en/latest/starting/install/osx/) - homebrew also installs pip and setuptools at the same time.

[2016-09-18 15:23] TomSmithCGAT commented on #46
I installed pip using `sudo easy_install pip`. The instructions for installing pip using curl work too.

[2016-09-19 08:27] AndreasHeger commented on #46
Hi all, @sebastian-luna-valero did a lot of this work for the CGAT script collection including installation how-tos for OSX. You could modify those.

[2016-09-19 09:45] sebastian-luna-valero commented on #46
Hi All,

Sorry but I have just been working on the Linux installation. The OSX how-to for the CGAT code is here:
https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallationOSX.html

but that was written by @AndreasHeger :-D

IMHO, there is an amazing work being done over at Bioconda:
https://bioconda.github.io/
https://github.com/bioconda/bioconda-recipes

which involves Linux and OS

[2016-10-09 22:14] KaiyangZ opened #49 "paired-end reads different UMIs"
Hi all,

I have a set of UMI-tagged paired-end target sequencing data, and the UMIs attached to the read1 and read2 are different. I am wondering how UMI-tools handle this kind of data during deduplication.

I was try to use bwamem for alignment, but got the error " paired reads have different names" as the UMIs of read1 and read2 are different and they were attached to read names. Do you have sug

[2016-10-10 09:45] IanSudbery commented on #49
Hi Kaiyang,

You need to extract the UMI from your reads in paired-end mode, using the `--read2-in`, `--read2-out`, `--split-barcode` and `--bc-pattern2` switches to `umi_tools extract`.  This will create a super barcode that is added to both reads. Thus the two read names will become:

@NS500683:84:HGMGMAFXX:1:11101:19517:1060_TGGACCTGTGGG 1:N:0:ATCACGAC+NAGGTTCA
@NS500683:84:HGMGMAFXX:1:11101:19

[2016-10-10 09:58] KaiyangZ commented on #49
Thank you very much lan! I was using my home-made script to extract UMIs and attach them to read names. Great to know that UMItools can handle this and I am going to reformat the umi-readnames.

Thank you again.

Kaiyang

[2016-10-13 11:31] KaiyangZ commented on #49
Hi Ian,

My problem is quite similar to  https://github.com/CGATOxford/UMI-tools/issues/31, but I did not find a solution there.

The deduplication is very slow and it varies a lot between different files, I was expecting larger bams will take longer time but it seems not in my case: a 2.4GB bam took 16 hours to finish while a 787MB bam is still running after 41 hours. I am wondering if I missing

[2016-10-13 13:26] IanSudbery commented on #49
Hi Kaiyang,

The easiest way to reduce the time taken to run is going to be to leave off the `--output-stats` and `--further-stats`. This can have an order of magnitude effect on the length of time taken. What we've suggested before is do the whole dedup without the stats and then just running on a one chromosome subset with stats to get an idea of that.

The time taken scales poorly with the leng

[2016-10-13 14:16] KaiyangZ commented on #49
Hi Ian,

Thank you for the suggestions. I am using the version on pypy, gonna to change to the version on github and try.

I thought lower duplication rates will lead to longer time, as Tom mentioned in https://github.com/CGATOxford/UMI-tools/issues/31:
"You have a relatively low duplication rate so most positions contains just a single read. The outputting therefore requires many calls to the pys

[2016-10-16 14:05] TomSmithCGAT commented on #49
Hi Kaiyang,

Since I made that comment we've improved the outputting of paired end reads so that we no longer use the pysam.mate function to find the paired mate of a read. As I understand it, pysam.mate literally goes through the BAM looking for the mate reads, which is a very time consuming process for paired end samples with very low duplication rates and hence many outputted reads. We now outp

[2016-10-16 14:47] TomSmithCGAT commented on #46
@IanSudber I've updated the Mac installation instructions (415f03581dee395a3550d2d43c479704f5367d15) so I think we're ready to merge the install branch, right? I'm assuming you've tested out the installation on Linux ?

[2016-10-16 22:39] IanSudbery commented on #46
@TomSmithCGAT Cheers. I have tested the linux install on fresh,  minimal installs of both CentOS and Ubuntu.

I have been working on the quick start guide (still stuff to do there) on the install branch, so we should either spin that off into a separate branch or hold off merging for now.

[2016-10-17 08:25] TomSmithCGAT commented on #46
OK. Let's hold off until the quick start guide is ready then.

[2016-10-18 18:58] IanSudbery commented on #46
Hey @TomSmithCGAT give the QUICK_START guide a go. We also need to think about how to distribute it - it doesn't work too bad as a markdown, and it is then displayed nicely on GitHub. The alternative would be to generate an HTML and put it somewhere.

[2016-10-19 14:02] TomSmithCGAT commented on #46
@IanSudbery Great. I'll give it a try shortly. I'm very happy to have it as markdown to be viewed on Github for now. I guess if want to have it hosted elsewhere we might want to think about using [readthedocs](https://readthedocs.org/) to update our documentation with each commit.

If we did build a more comprehensive website, this would also give me a chance to unveil my majestic logo..
![umi_too

[2016-10-20 16:02] TomSmithCGAT commented on #46
@IanSudbery Tutorial worked perfectly for me. I've added mac-specific commands for the downloads and a section about bespoke extract UMIs. See 8614595. If you're happy, I think we're ready to merge!

[2016-10-20 16:12] TomSmithCGAT commented on #46
Logo is now on the homepage. Github appears to ignore the width directive so it's massive!

[2016-10-20 18:38] IanSudbery commented on #46
I believe we are ready to merge. (Love the logo by the way)

[2016-10-20 18:57] TomSmithCGAT commented on #46
Ack. Travis test is failing. I'll have a look at this first thing tomorrow.

[2016-10-24 12:02] JeroenMerks opened #50 "dedup.py needs deduplicated BAM-file to be indexed?"
Dear developers.
I'm testing your awesome toolkit, but I don't know what to do with the following problem:

**Used parameters**
[code]
**Traceback**
[code]
**Files in directory**
- xxx_sorted.bam
- xxx_sorted.bam.bai
- xxx_dedup_chr19.bam

**Software versions**
UMI-tools v0.2.3
pysam 0.8.4

**Tried**
Adding the until_eof=True flag to the self.outfile.fetch() function (to allow fetching if there's

[2016-10-24 12:42] IanSudbery commented on #50
Hi Jeroen,

It should be calling fetch on the infile, not the outfile. Don't know how that got in. Can you try the code in the [fetch-called-on-outfile](https://github.com/CGATOxford/UMI-tools/tree/fetch-called-on-outfile) branch. Are you comfortable pulling the code off git?

Cheers,
Ian
---

[2016-10-24 15:09] AlexandraBomane opened #51 "extract.py : problem with Xs bases reattachment to the read"
Hello,

I'm using the latest version of UMI-tools (Master branch) and I noted an unexpected output with the extract.py script.

Here my command line :
python extract.py --bc-pattern=NNNTTGTNN -L extract.log -I input.fastq -S output.fastq

Here the original read (from the input) :
@NS500801:5:H7YMFBGXX:1:11101:12845:1158 1:N:0:0
**CAA**TTGT**CG**GCCGCCGGTGAAATACCNNNNNNNNNNNNNGGAAGAGCGGTTCAGCAGGAATG

[2016-10-24 16:41] IanSudbery commented on #51
Hi,

At the moment we only reattach bases that are labeled in the pattern as X's.

I.e. if your `--bc-pattern` was NNNXXXXNN would the barcode bases be reattached.

[2016-10-25 12:39] JeroenMerks commented on #50
That fixed it.
Thank you  for your quick reply and fix!

[2016-10-25 12:43] IanSudbery commented on #46
@TomSmithCGAT Did you sort out what was happening with travis? I'm trying to pull request a bug fix, and the travis checks are failing.

[2016-10-27 14:54] #50 closed

[2016-10-31 10:19] TomSmithCGAT commented on #46
@IanSudbery. All sorted now. I'll merge back into the master and release a new version

[2016-10-31 10:21] IanSudbery commented on #46
:thumbsup:
:+1:

[2016-10-31 11:57] #46 closed

[2016-10-31 13:00] TomSmithCGAT opened #54 "Output read groups rather than deduplicated BAM"
@IanSudbery Just had a chat with Nils Koelling here at the WIMM. He's given some very helpful feedback on documentation which I'll feed into the master branch shortly.

He's using UMIs in a variant calling framework and therefore wants to group reads by their UMI and then perform a downstream step to identify the correct base call for each position in the set of reads to correctly resolve sequenci

[2016-10-31 13:39] IanSudbery commented on #54
I've been wondering recently why no one does this! I think we probably might want to do this in a new command - otherwise we are going to have to store all of the reads in memory - at the moment we only store the best of each position*splice*umi combo. At high read depths this is a substantial memory saving.

However, the new problem is kind of a deduping problem though? Presumably you only want t

[2016-10-31 13:49] TomSmithCGAT commented on #54
Yeah, in this case this is ultimately a de-duplication problem but the intermediate step could be quite bespoke, hence the solution to just return the read groups and allow the user to decide how to use the information.

I'll make a group branch and start work shortly.

[2016-10-31 15:51] koelling commented on #54
Great, thank you very much Tom! Happy to help out with testing etc!

[2016-10-31 18:21] TomSmithCGAT commented on #54
@koelling Would you mind testing out the new group command (on the group branch). Latest commit here 9579cad5f4e5f0f6c437605d2f70bbb2fe27eb5a. You can run it like so:

``umi_tools group -I example.bam  --group-out=test.tsv``

Currently, it only outputs a tsv mapping read_identiers to read groups according to their position and UMI. Once I've figured out how to add a tag to the reads, the following

[2016-10-31 18:31] TomSmithCGAT commented on #54
@koelling The group command should now be able to handle adding a read group too a96774d45b76189d9571a43ea61193bfced71bf5 so you can test out outputting both the mapping tsv and BAM.

[2016-10-31 18:56] TomSmithCGAT commented on #54
@koelling Best hold on the testing. Just discovered the output only includes the UMIs which would be outputted with the dedup command, e.g not the related UMIs.

[2016-10-31 19:22] TomSmithCGAT commented on #54
@koelling Hopefully sorted. See c2f6e81c4ae81b24e3eb17907d45a04967ecae9f

[2016-10-31 19:23] TomSmithCGAT commented on #45
@KaiyangZ The _group_ branch includes a new command _group_ which allows you to use the network methods to group the reads c2f6e81 . When run with the ``--group-out = <outfile>`` option the tool will generate a file mapping read identifiers to a unique group for each set of reads with the same genomic position and UMI(s). You can extract the number of reads that support each UMI before and after d

[2016-11-07 10:33] koelling commented on #54
I gave it a try now and it looks good!

Is it possible that you're only attaching the UG tag to the first read in every read pair though? Is that intentional?

Also, it looks like the "Number of reads out:" output in the log does not actually match the number of "UG". For my test file, it says 28610 there but the highest UG I see is 26387. Weirdly, this also doesn't match the result that I get whe

[2016-11-08 08:59] TomSmithCGAT commented on #54
@koelling. Happy to see it's at least working in principle. You're right about the read tags, that was an oversight on my side. This should be corrected in  c2f6e81. I've also updated the counting so that it now reports the counts for "reads in", "reads out" & "groups."

I've checked with a single end bam that "reads in" matches the number of reads in the input BAM, "reads out" matched the number

[2016-11-08 09:19] JeroenMerks opened #55 "ClusterAndReducer instance has no attribute 'get_adj_list'"
File "UMI-tools-0.2.5/umi_tools/dedup.py", line 569, in __call__
    adj_list = self.get_adj_list(umis, counts, threshold)
AttributeError: ClusterAndReducer instance has no attribute 'get_adj_list'

[2016-11-08 09:38] koelling commented on #54
Thanks a lot! The number of groups does indeed match the highest UG tag I see now, assuming these are zero-indexed. It also matches the output from `dedup`.

However, I'm still getting slightly weird results with the other numbers:

[code]

So on one hand the reported number of reads out is actually larger than the reported number of reads in (which itself does not seem to match the number of alig

[2016-11-08 09:43] IanSudbery commented on #55
Hi Jeron,

This is most odd. Can you let me know the exact command line you were running - the get_adj_list method should be set based on the deduplication method.  Unless you are somehow setting a method which we don't implement (which shouldn't be possible), I don't understand.

[2016-11-08 10:10] IanSudbery commented on #55
Also, where is this version installed from? Line 569 doe not contain the quoted code in the GitHub version.

[2016-11-08 10:20] TomSmithCGAT commented on #55
@JeroenMerks If you use the option --method=adjacency does this solve the issue?

[2016-11-08 10:21] TomSmithCGAT commented on #55
@IanSudbery By chance I just happen to have come across this issue on a recent branch from the master to set up testing. The issue is that the default method is "directional" and this version of umi_tools is expecting to see the method as "directional-adjacency". Unfortunately, on the master branch the option parser also wont allow you to see the method as "directional-adjacency" as it's not one o

[2016-11-08 10:22] IanSudbery commented on #55
@TomSmithCGAT Does this mean that the code we submitted as supplimentary files to the publication and archived on zendo doesn't work?

[2016-11-08 10:37] TomSmithCGAT commented on #55
@IanSudbery I'm afraid so. The change was made to reflect the shortening of the directional method name in the updated manuscript. I guess we need to contact them immediately to make them aware of this. I've modified the master branch to remove the bug and released the code as v0.2.6. Archive: https://doi.org/10.5281/zenodo.165403

[2016-11-08 10:39] IanSudbery commented on #55
This also means that the pipelines aren't going to work either, as they refer to 'directional-adjacency' too

[2016-11-08 14:16] JeroenMerks commented on #55
Thanks for the fast reply and fix!

I needed to add the shebang line "#!/usr/bin/env python" for the (Cython?) compilation of dedup.py to work. When I just installed 0.2.6, I didn't receive any errors...

[2016-11-08 14:49] TomSmithCGAT commented on #54
@Koelling. This one took a while!

The issue with the output being higher than the input occurs due to the way in which we resolve the directional network down to it's constituent parts (each of which should is inferred to represent a single UMI). Currently, this allows for the lowly abundant UMIs to be present in more than one network:

Imagine we have the directional network below with UMIs and

[2016-11-08 14:51] TomSmithCGAT commented on #54
@IanSudbery Can you sanity check 1164250 please. I've modified the breath_first_search function so that nodes which have already been visited are rejected. As I saw it, the other option would be to reform the adj_list after identifying each connected component but this would obviously be very slow for large networks.

[2016-11-08 16:18] koelling commented on #54
Thanks, this does seem to have fixed the number of alignments that are being returned. However, the input number is still slightly lower than the actual number of alignments in the input file.

To help debug this, I extracted the read IDs from the input and output BAM and looked at a few cases that went missing. It looks like these were all cases where only one of the mates mapped successfully, wi

[2016-11-09 12:08] TomSmithCGAT commented on #54
@koelling  Coud you try out the latest commit on the group branch 87c22a03abc838d1f6f18c0d59aa84defbba1bb0

The logging of reads in/out has been improved and all reads should now have tags.

You have two "types" of unmapped reads in your BAM. Reads without a reference contig and read with a reference contig but unmapped according to their SAM flag. The first group will not be retrieved by pysam.fe

[2016-11-09 16:45] TomSmithCGAT commented on #13
@IanSudbery Finally got around to implementing the tests. Merging tests branch into master shortly.

[2016-11-10 08:41] #55 closed

[2016-11-10 13:03] peterch405 commented on #54
@IanSudbery This is commonly done in repertoire sequencing http://dx.doi.org/10.1016/j.it.2015.09.006
#23

[2016-11-15 10:23] koelling commented on #54
@TomSmithCGAT I just came across a new issue - it seems that `umi_tools group` sometimes duplicates reads in the output file. For example I have a read pair here where the first mate suddenly appears twice in the grouped BAM file, even though it only appeared once in the input.

Looking at this I can see that the second copy of this read has two UG and FU tags attached that are quite similar ("UG:

[2016-11-15 10:48] TomSmithCGAT commented on #54
@Koelling. Thanks for bringing this to my attention. You're right that this is caused by a read being assigned to multiple groups. I thought I'd resolved this problem but obviously there are still some cases which are not addressed. I'd like to stick to assigning a single group for each read in a logical manner rather than random assignment from multiple choices.

I'll try and resolve this in the

[2016-11-15 11:14] koelling commented on #54
Thank you Tom! By the way, another thing that would be great would be if you could include unmapped reads (and invalid read pairs) in the output file, even if you can't assign them to a group. I'm not sure what other people might want, but at least for me the ideal output BAM file would contain exactly the same reads as the input BAM file, just with the UG tags added. But if this is complicated I

[2016-11-15 12:20] TomSmithCGAT commented on #54
@koelling This shouldn't be too difficult. We can include an option to retain the unmapped reads.

It looks like we'll need to add the "until_eof" to the pysam.fetch() call to include the unmapped reads in the iterator.

[2016-11-15 23:23] mattgeorge28 opened #58 "umi added to readname with bcl2fastq, can I still use umi-tools dedup?"
Hello,
My UMIs were added to read names using bcl2fastq and aligned with STAR. Therefore, each read has the UMI added to the end of the read name by ":NNNNNNNNNN" instead of "_NNNNNNNNNN". Is there a way to use umi-tools with this configuration?
Thank you!
Best,
Matt

[2016-11-16 09:15] TomSmithCGAT commented on #58
@mattgeorge28. It should be very easy to add this functionality to UMI-tools. I'll try and get this done this week.

[2016-11-16 11:47] TomSmithCGAT commented on #58
@mattgeorge28 I've added a "--umi-separator" option on the separator_option branch. I'd like to keep this option out of the master branch until we're happy it's working as expected. I've done a quick test here and it all seems to be OK.

Are you happy installing umi_tools from the separator_option branch and testing this option out with your BAM?

[2016-11-17 23:25] mattgeorge28 commented on #58
Thank you very much! I am working with it right now to see how things go.

[2016-11-18 15:22] TomSmithCGAT commented on #13
Done!

[2016-11-18 15:22] #13 closed

[2016-11-21 10:10] TomSmithCGAT commented on #54
@koelling. I'll try and return to this soon but for now I'd recommend using the directional method which will not suffer from this issue of returning the same read multiple times.

[2016-11-24 12:33] nmukherjee opened #59 "Impact of scaffolds/ERCCs AND/OR pre-defined UMIs on speed/accuracy"
Hi Ian and Tom,
I very much like the theory behind this tool and am trying to use it in my research. I realize I may be conflating two specific issues..if so I am sorry, but here goes anyway!

We have performed paired-end strand-specific RNA-seq with a [kit utilizing UMIs from BIOO scientific](http://www.biooscientific.com/Next-Gen-Sequencing/Illumina-Library-Prep-Kits/NEXTflex-Rapid-Directional-q

[2016-11-25 11:29] IanSudbery commented on #59
Hi Neel,

Thanks for the detailed report. I suspect that the problem with the ERCCs is the depth of sequencing over them. The most time consuming part of the process is creating the distance matrix containing the edit distance between each of the UMIs present at each position. As this is an all-by-all comparison, it scales as the number of UMIs squared, as does the memory requirement. Under very h

[2016-11-30 16:25] davismcc opened #60 "Conda install fails - missing dependencies"
Hi there

Nice work on this tool - unfortunately installation on Mac OS X Sierra failed for me due to missing dependencies that were unstated:
[code]

Perhaps you could list these dependencies in the installation instructions and link to installation instructions for these tools?

Best
Davis

[2016-11-30 16:28] davismcc commented on #60
To complete this thought: installation with conda worked seamlessly on a Linux cluster, as it found the bioconda channel for bcftools, htslib, pysam, samtools.

[2016-11-30 16:30] sebastian-luna-valero commented on #60
Indeed, please test with:

[code]

Best regards,
Sebastian.

[2016-11-30 16:32] davismcc commented on #60
Yep, that works like a charm - installs perfectly. Thanks!

Davis

[2016-11-30 16:46] IanSudbery commented on #60
I can only think that samtools, htslib and bcftools are being pulled down as dependencies of pysam - we certainly don't use them. And pysam per-se doesn't require them either - it depends how it is built. Perhaps its something to do with a new version of pysam?

@TomSmithCGAT When you did the installation tests on OSX is it possible you had the bioconda channel already active?

[2016-11-30 17:08] TomSmithCGAT commented on #60
@IanSudbery. These are actually erroneously included in the requirements for umi_tools :anguished:

The conda version has fallen somewhat behind the latest github. I had been holding it off until I had resolved #54 so we could release the an update including the new _group_ command but this is taking longer to finalize than I'd hoped - I'll update umi_tools in conda and pip tomorrow and remove the

[2016-11-30 17:12] TomSmithCGAT commented on #58
@mattgeorge28 Did the new _--umi-separator_ option work as expected?

[2016-11-30 18:16] mattgeorge28 commented on #58
Hello!
Thank you very much for your assistance. I have been running UMI-tools with
the --umi-separator=":" option and it has worked without error. However, I
have tried a few configurations, and I am getting a very large reduction
(80-90%) in deduped reads that I don't see when just running deduplication
with the STAR alignment package (without UMI). I would assume that using
the UMI would retain

[2016-11-30 19:21] mattgeorge28 commented on #58
Just to check, if my readname was this:

NB501415:61:HLFTYBGXY:4:23409:16637:11038:AAGATTCCGT

Am I correct in assuming    --umi-separator=":"       would read in from
the right until it hits the first ":" to identify the UMI?

In looking closer, it seems that my data do have a LOT of PCR duplicates.
So the massive reduction in reads after umi-tools dedup is likely correct.

Thanks again,

Matt

O

[2016-11-30 22:26] TomSmithCGAT commented on #58
@mattgeorge28  You're right about how the `--umi-separator` option works. You can leave out the quotation marks, e.g just  `--umi-separator=:` but it works fine with quotation marks too.

I've not used STAR for reduplication but, as you say, I'd be very surprised if it underestimates the true duplication rate when it's not taking UMIs into account. Could you please copy in the exact command you us

[2016-11-30 22:26] TomSmithCGAT commented on #58
@mattgeorge28  You're right about how the `--umi-separator` option works. You can leave out the quotation marks, e.g just  `--umi-separator=:` but it works fine with quotation marks too.

I've not used STAR for reduplication but, as you say, I'd be very surprised if it underestimates the true duplication rate when it's not taking UMIs into account. Could you please copy in the exact command you us

[2016-11-30 23:34] IanSudbery commented on #58
Those sorts of duplication rates would be completely normal from my
experience of iCLIP.

[2016-12-01 08:15] TomSmithCGAT commented on #58
@IanSudbery. Agreed the duplication rates would be OK for iCLIP. However, eCLIP uses much less amplification and should reduce duplication rates: [eCLIP](http://www.nature.com/nmeth/journal/v13/n6/full/nmeth.3810.html).

[2016-12-01 08:44] IanSudbery commented on #58
Thats nit been my experience of reanalysing eCLIP datasets.

Sent from my iPad

On 1 Dec 2016, at 08:15, Tom Smith <notifications@github.com> wrote:

@IanSudbery <https://github.com/IanSudbery>. Agreed the duplication rates
would be OK for iCLIP. However, eCLIP uses much less amplification and
should reduce duplication rates: eCLIP
<http://www.nature.com/nmeth/journal/v13/n6/full/nmeth.3810.html>.

[2016-12-01 08:47] TomSmithCGAT commented on #58
Ah OK. Let's work on the assumption that a 90% duplication rate could be correct then and check that the UMIs are reducing the apparent duplication rate as expected.

[2016-12-08 15:04] yech1990 opened #64 "Dose umi tools support dealing insert and deletion in barcode?"
I have design a long umi barcode 20xN. Due to primer synthesis error and sequencing error, the barcode may be 19bp or 21bp in length.  Dose UMI_tools take these situation into account?

[2016-12-08 16:02] TomSmithCGAT commented on #64
Hi @yech1990. Could you explain a little more how the UMI length varies? Unfortunately we can't cover all possible UMI encodings within umi_tools extract. However, if it's easy to detect within the read, it's usually straighforward to create a custom UMI extraction script since all we need to do is identify the UMI and append it to the read name (separated by '_'). See the top of the documentation

[2016-12-09 04:59] yech1990 commented on #64
I do ultra-deep target sequencing, and the UMI barcode is added by PCR amplification.
The primer is in the form of  ```NNNNNNNNNNNNNNNNNNN--uniq primer for target---```
![image](https://cloud.githubusercontent.com/assets/5415510/21037970/18646808-be0d-11e6-9a29-31bea2a76dc8.png)

 I notice that ```umi_tools extract``` can only split barcode in a fix length and append it to the read name.
I can wri

[2016-12-09 10:42] TomSmithCGAT commented on #64
Hi @yech1990. I didn't consider the implications of having different lengths properly. In the previous cases where the UMI position varied in the read, the length of the UMI was fixed so this was not an issue. We can't currently deal with UMIs which have different lengths so for now I'm afraid UMI-Tools will not be suitable.

I guess we would need to use some form of alignment between UMIs to gene

[2016-12-09 10:56] yech1990 commented on #64
distance metric will increase accuracy, but make the script much slower.

the I use 20bp UMI, and it will take one and a half day to group reads in one sample.

[2016-12-09 11:25] TomSmithCGAT commented on #64
@yech1990. Given that you're performing ultra-deep sequencing, I presume you have some positions with very high depth which makes the network building stage very time consuming. The time taken to build the network scales quadratically with the number of unique UMIs. Of course, aligning the UMIs rather than just calculating the edit distance will increase the time taken even more.

If your targetin

[2016-12-09 13:01] yech1990 commented on #64
@TomSmithCGAT  I split the data into different genes, but one sample file still contains millions of reads for each gene.

I wonder whether the O(n²) is due to the low efficiency of the algorithm or python language. I tried some other code in github, which is much faster.
I haven't read the code carefully,  what is the different between UMI_tools and those respiratory.
https://github.com/LaoZZZZZ/

[2016-12-09 13:24] TomSmithCGAT commented on #64
@yech1990. We've used cython to speed up the edit distance calculation which is the function that gets called O(n²) times (I wrote a blog post about this [here](https://cgatoxford.wordpress.com/2016/02/01/speeding-up-python/)). Of course, this would be even faster in C++ etc. If anyone wants to re-implement our method in another language I'd be very happy to help out! However, ultimately, the prob

[2016-12-09 13:33] IanSudbery commented on #64
I was thinking that when we would only have to do an 'alignment' of the UMIs if they were different lengths. If you are sticking with a distance threshold of 1, then you would only have to test mutations or deletions - i.e. if two UMIs were different lengths, search or a deletion that would make a perfect match. If they are the same length look at mutations. Thus a comparison between two UMIs woul

[2016-12-09 13:37] yech1990 commented on #64
@TomSmithCGAT
I notice this description in bartender readme

[2016-12-09 13:39] yech1990 commented on #64
@IanSudbery
sound reasonable.
Thank you very much

[2016-12-09 13:41] IanSudbery commented on #64
I just had a quick glance at Bartender:

What bartender does is cluster non-random sample barcodes using some sort of error correcting method.

It will also allow the use of UMIs, but in a non-error correcting way similar to `--method=unique` in umi_tools. See this from their mailing list:

[2016-12-09 13:43] IanSudbery commented on #64
@TomSmithCGAT: How much memory would a lookup table of all possible comparisons for a given UMI length take?

[2016-12-09 14:10] TomSmithCGAT commented on #64
For the fastest lookup, I guess we'd store all this as a np.array of bools. In which case we'd need (4^n)^2 elements or (5^n)^2 if we include Ns.

          AAAA AAAT AAAC    ...     GGGG
AAAA    1        1        1        ...         0
AAAT    1        1        1         ...        0
AAAC    1        1        1        ...         0
...           0        1        0        ...         0
GGGG   0

[2017-01-12 10:29] inakicm commented on #44
Hi,

Thanks for UMI_tools, and sorry if this is a silly question:

I can not use the per-position method because we used a protocol where the position of the read on the genome may be different for reads generated from the same initial molecule.
I made the mapping using HTseq-count, so after the mapping I get a TAG (XF) in the SAM file which gives me the gene name for each read. So instead of work

[2017-01-12 17:16] IanSudbery commented on #44
Hi Inaki,

We currently support per-gene deduplication where the gene name is stored in the contig column of the BAM file - this is what you get when you map to the transcriptome, rather than to the genome.  There are a couple of wrinkles with the process that makes using a tag difficult. Mostly that the BAM file would have to be ordered by that tag. It is something we could do, but I don't have t

[2017-01-12 18:53] inakicm commented on #44
Ok, thanks for the explanation!
I will reformat the BAM file.

Best,
Iñaki

[2017-01-18 14:54] TomSmithCGAT opened #66 "Output order is not consistent between py2 and py3"
The output from the group and dedup commands is inconsistent between py2 and py3. I thought this was due to the python dictionary hash in py3 - quoting from the documentation '[hash] values of str, bytes and datetime are “salted” with an unpredictable random value. Although they remain constant within an individual Python process, they are not predictable between repeated invocations of Python . H

[2017-01-18 16:37] Acribbs commented on #66
Hi Tom, I had issues with python 3 tests passing because of setting the seed. You correct that there is currently no way of setting the seed so the output remains the same following repeated invocations of python. The fix that was used for our problem was to use sorted for the output of the dict.

[2017-01-18 16:52] TomSmithCGAT commented on #66
@Acribbs. Thanks for your input. I can get the same output order for py3 with repeated invocations by setting the environmental variable `PYTHONHASHSEED=0`. The issue is that I can't get the same output order for py2 **and** py3. I've tried ordering the dictionary keys using `sorted()` but I still get different output for py2 & 3. Think it might be time to call it quits and come back another day w

[2017-01-18 16:56] Acribbs commented on #66
Ah ok, when I tested I had to write two tests, one for py2 and one for py3. In the test.yam l file I used:
downsample_paired_py2:
    skip_python: 3
    stdin: paired.bam
    outputs: [stdout]
    references: [downsample_paired.bam]
    options: --method=downsample-paired --downsample=3000 --random-seed=1 -L out.log

downsample_paired_py3:
    skip_python: 2
    stdin: paired.bam
    outputs: [std

[2017-01-18 17:00] TomSmithCGAT commented on #66
That might very well help. How does the skip_python directive work? Does it just detect the python version and skip tests these tests? If so, this would work perfectly, aside from doubling the number of test files for comparison of course

[2017-01-18 17:01] Acribbs commented on #66
Thats how I understand its working. Yes I know, but it worked for me.

[2017-01-18 17:02] TomSmithCGAT commented on #66
Great. I'll give this a try

[2017-01-19 09:33] TomSmithCGAT commented on #64
@yech1990 Are you OK if we close this issue?

[2017-01-19 09:36] TomSmithCGAT commented on #58
@mattgeorge28 Did you compare the duplication rate from Picard MarkDuplicates and UMI-Tools?

[2017-01-19 09:36] #54 closed

[2017-01-19 09:38] TomSmithCGAT opened #67 "Adjacency method is not available for group command"
Currently the adjacency method is not available for the group command as I was unable to assign each read to a single group correctly. I'll see to this...

See #54 for the motivation for the group command

[2017-01-19 09:39] #45 closed

[2017-01-19 09:41] #29 closed

[2017-01-19 09:42] TomSmithCGAT commented on #23
The _group_ command can now be used to group read by their UMI for downstream processing such as deriving a consensus to correct for pcr/seq errors.

[2017-01-19 09:42] #23 closed

[2017-01-19 10:41] TomSmithCGAT commented on #66
Ok so this works to get tests passing on py2.7 and py3.5 . The issue now is that the tests fail for 3.4 (bioconda asks for 3.4 & 3.5) when the py3 reference files are generated using 3.4.

@IanSudbery For the time being are you happy if we just run tests for py2.7 and py3.5 and I'll hunt down the difference between 3.4 and 3.5 later?

[2017-01-19 10:48] IanSudbery commented on #66
Fine by me

[2017-01-19 10:54] inakicm opened #68 "Cell Barcode"
Hi,

I miss an important point, sorry for that ...
Does one BAM file have all the reads for only one Cell Barcode?
Otherwise, where do you put the cell barcode information in the BAM file?

Thanks a lot,
Iñaki

[2017-01-19 19:12] IanSudbery commented on #68
The way we have used it in the past is to have a seperate BAM for each cell barcode.

An alternative would be to combine the cell barcode and UMI into one sequence, dedup on that, and then separate out the cell barcode again.

[2017-01-20 07:27] inakicm commented on #68
Good idea to combine the cell barcode and the UMI, thank you for pointing that out.

[2017-01-20 10:33] #66 closed

[2017-01-20 11:00] TomSmithCGAT commented on #39
@peterch405 Sorry for the very delayed response to this!

It looks like the issue is that the Utilities.Start() function removes the first option for correct option parsing when running on the command line so you need to add in a dummy argument like so:

[code]

[2017-01-20 11:04] TomSmithCGAT commented on #60
Conda and pypi versions have now been updated to 0.3.3 for py2.7, py3.4 & py3.5 with the correct dependencies. See https://github.com/CGATOxford/UMI-tools/tree/0.3.3

[2017-01-20 11:04] #60 closed

[2017-01-20 11:09] TomSmithCGAT commented on #31
@royfrancis Did you make any more progress with this? Have you tried re-running with the latest version of UMI-tools?

[2017-01-20 12:08] TomSmithCGAT commented on #59
@nmukherjee UMI-tools was not designed to handle situations where the UMIs are known _a priori_ as in your case.

I agree with @IanSudbery and suggest simply removing any reads which don't match the 9216 'real' UMIs. We could add a `--filter` option to the _extract_ or _dedup_ commands specifically for this purpose. You could then simply use the _unique_ method to remove PCR duplicates.

The downs

[2017-01-20 12:35] #51 closed

[2017-01-20 12:37] #49 closed

[2017-01-21 14:55] IanSudbery opened #69 "Make dedup parallel"
Make dedup use more than one CPU.

First attempt at an implementation see: branch IS_parallel.

Need large data file to benchmark.

cc: @TomSmithCGAT

[2017-01-22 13:10] IanSudbery commented on #69
So on one test file (from a previous issue), dedup was 4 times longer with 4 CPUs.

This presumably means that the overhead for setting up 4 processes is higher than the advantage from parallelising edit_distance calculations when there are only few umis at each position.

[2017-01-23 08:31] TomSmithCGAT commented on #69
Yeah that's a shame but I think your approach of checking to see how many UMIs there are at the position first makes a lot of sense. This does mean we probably wont see anything like a linear improvement in time taken for additional threads though.

Have you had a look at pinning down how many UMIs you need for the additional threads to be useful? If not, I can look at this. We could then derive a

[2017-01-23 09:51] IanSudbery commented on #69
I don't really have a good file to test it on - I need something that has at least some really high depth positions.

We probably could get linear improvements if we could manage to parallelise the whole `for (....) in get_bundles`  loop in `dedup.py`, but that is way more work than my simple attempt at parallelising the call to `edit_distanace`.  I'm not sure we'll ever see an improvement at this

[2017-01-23 10:29] TomSmithCGAT commented on #69
I guess the easiest way to get around any potential issue with pickling `pysam.AlignedSegment` would be to run one contig per thread? Not ideal but still potential for a pretty good improvement with the minimum run time roughly the same as deduping just the biggest chromosome.

What do you think @AndreasHeger? Have you any experience with parallelising pysam?

[2017-01-23 10:40] AndreasHeger commented on #69
I have not tried parallelism on the AlignedSegment level. However, it does seem to be an embarassingly parallel problem and I don't see why the parallelism needs to be on the contig level, can you not do 10Mb windows or similar?

[2017-01-23 11:03] IanSudbery commented on #69
The problem with this is that each 10Mb is not independent of all other
10Mb blocks because we use an implied mapping start position rather than
the actual mapping start position supplied in the BAM.

The chromosome level might be better, but we still have the case of paired
reads where the mates are on different chromosomes (probably a rare problem
when mapping to the genome, but could be more of

[2017-01-23 15:40] IanSudbery commented on #69
Looks like we are barking up the wrong tree!!
Seems that even on the file I'm working on, calls to edit_distance are not the limiting factor, but rather _get_connected_components_adjacency
[code]

Line profiling this, it seems like the call to `in` is the slowest part:

[code]

I feel like making found a set rather than a list might make things better...

[2017-01-23 16:42] TomSmithCGAT commented on #69
Yeah, found really should be a set there.

Was this from applying UMI-tools dedup to a very high depth sample?  I'm surprised to see the edit_distance function being used relatively few times.

[2017-01-24 17:53] IanSudbery commented on #69
With a set instead of a list!
[code]
This is with the file you suggested in your email.

[2017-01-24 18:25] TomSmithCGAT commented on #69
Wow! That's great. And a bit embarrassing!

[2017-01-24 18:31] IanSudbery commented on #69
BTW thus far my calculations are suggesting that multiproccessing only become efficient at the edit_distance level when there are more than 1000 UMIs per site.

[2017-01-25 11:07] TomSmithCGAT commented on #69
Hi Ian. We can use a recursive function to find the network components for a small decrease in run time (~10%). See the TS-recursiveComponents branch.

Using the non-recursive function
[code]

Using the recursive function:
[code]

[2017-01-25 11:11] TomSmithCGAT commented on #69
That's a shame about the parallel processing at the edit_distance level. Given the edit distance is not the major bottleneck as you indicate above, this suggests to me that it's not really worth including parallel processing at this level.

[2017-01-25 18:28] IanSudbery commented on #69
I have combined three optimisations into a new branch.

I ran tests with two different test files. The first used 5bp UMIs, and has 3,320,209 reads at 38,779 positions, that is de-duplicated down to 43,100 reads.

The second file used 10bp UMIs and has 482,686 reads at 11,427 positions, that is de-duplicated down to 30,938 reads.

The first optimisation is using `map` rather than a list comprehens

[2017-01-26 09:37] TomSmithCGAT commented on #69
Thanks for properly performing the comparisons. That's great news about the improvements for the second file which I think is probably more representative of the type of samples which have been taking a long time. A 10-fold improvement is much more than I thought we'd get just from tinkering with the code.

I think we can squeeze out a further slight improvement by replacing the list comprehension

[2017-01-26 10:58] IanSudbery commented on #69
So this brings it down to 12s. Pretty good going.

Looking at this has been instructive: my Opt1 above was replacing one of the list comprehensions with a map function, which halved the time spent in `_get_adj_list_directional`. Your `itertools` solution prevents the use of map, more or less, but still performs better. At first I thought that the difference would be that your solution was spending

[2017-01-26 12:59] TomSmithCGAT commented on #69
Definitely some valuable lessons regarding profiling and code optimisation. I'm amazed that we can shave off so much of the run-time. Hopefully this will prevent any further issues relating to the time taken to run _dedup_. If there are still issues I guess we can try and implement parallelisation at the ClusterReducer level.

Are you good to merge in the changes to master? I'll update the version

[2017-01-26 13:42] IanSudbery commented on #69
Yep, go ahead and merge

[2017-01-26 16:56] TomSmithCGAT commented on #69
There's an issue with the recursive search. It produces a slightly different order of output with the group_cluster test (not an issue) and outputs a slightly different set of reads when I run dedup on the high depth sample I sent you (File 2 above?). I've not got to the bottom of the second issue so I thought it best just to leave the recursive search out for now and I'll return to this when I ha

[2017-02-01 11:10] Poshi opened #72 "Bad value in flatfile describing the read groups"
In a test run with real data, I've got things like:
[code]
If I don't interpret the data incorrectly (I'm new to this tool), the last line should say that there is 1 UMI that has been joined to the group 231 of 4 equal UMIs in total. But instead of a "1", I see a "3". That's incorrect, right?

[2017-02-01 11:19] Poshi opened #73 "Read UMI from tag"
In this tool, you are assuming that the UMI will be found in the ID, but there can be cases where the UMI is in other places. In our case, the UMI is located in a tag. Specifically in the RX tag (but others use the BC/BX).
Also, when assigning the UMI, the tags are competing (you use FU, Picard uses MI).

* It would be nice to be able to specify the tags to be used for all of these operations.
* A

[2017-02-01 11:51] Poshi opened #74 "--subset option not recognized"
By running:
[code]
I get The usage instructions and an error in the last line:
```group: error: no such option: --subset```
But the own help text claims that this is a valid option:
[code]

[2017-02-01 11:55] IanSudbery commented on #74
Hi Jordi,

Looks like someone copied accross the documentation from dedup when group was implemented, but didn't actaully implement subset.

@TomSmithCGAT Any reason why subset isn't implemented in `group`?

[2017-02-01 11:57] IanSudbery commented on #73
Hi,

Reading using UMIs specified in different locations is on our to do list for the next release.

Ian

[2017-02-01 11:58] TomSmithCGAT commented on #74
@IanSudbery Nope. I'll do this now.

@Poshi How are you installing UMI_tools (Github, conda, pip) ?

[2017-02-01 12:03] Poshi commented on #74
Asking my sysadmins. No idea what they had done. I can ask if you really need the answer.

[2017-02-01 12:08] TomSmithCGAT commented on #74
@Poshi. I only ask because I can make the changes directly in Github and make it available immediately. Pip and Conda will take very slightly longer.

[2017-02-01 12:17] Poshi commented on #74
@TomSmithCGAT I will try to install it in my user space from github, but I think I will have to fight some library problems :-(

[2017-02-01 12:46] TomSmithCGAT commented on #72
@Poshi The output is indeed incorrect, though not in the way you describe. Reading from the relevant section of the documentation (copied below), column 5 should contain the count for the UMI on the read and column 7 should contain the total count for the group. Thus, the final line about should be:

[code]

I'll update the code to correct this at the same time as adding the subset command #74

--

[2017-02-01 12:55] Poshi commented on #72
Maybe I expressed myself incorrectly, but I was refering just to what you said :+1:

[2017-02-01 12:58] TomSmithCGAT commented on #72
Ah, great. Well spotted! I've made all the required changes so I just need to wait for tests to pass then I can release a new version. Should be done within the next hour.

[2017-02-01 14:49] TomSmithCGAT commented on #74
This has now been resolved in the latest version 0.3.6 which is available through github, pypi and conda.

[2017-02-01 14:49] TomSmithCGAT commented on #72
This has now been resolved in the latest version 0.3.6 which is available through github, pypi and conda.

[2017-02-02 10:20] Poshi commented on #72
Wow! That was fast!
In the meantime I managed to clone the code and install it locally with develop command, so I should be able to easily try new code and add mine.
Thanks!

[2017-02-02 10:31] TomSmithCGAT commented on #72
Great. Let me know how you get on.

[2017-02-02 11:29] Poshi opened #77 "Available methods in help text"
Silly problem.
For the group command, the help text says:
[code]
But the percentile method is not available in group. On the other hand, the directional method is not listed.

[2017-02-02 11:59] TomSmithCGAT commented on #77
Thanks. I'll remedy this in the next version.

[2017-02-02 12:49] Poshi opened #78 "Keeping unmapped reads"
I'm sorry I'm opening so many issues these days. This is a functionality request.
In our pipelines, we always keep all the input data, so we can re-generate the source FastQ file from the final BAM (go back to the original sequencer result file from the heavily processed final bam).
For this to work, we cannot discard any read, and for this we have to mark duplicates, and not remove them, so we wi

[2017-02-02 13:53] TomSmithCGAT commented on #78
Hi @Poshi. Don't worry about opening up lots of issues. We're keen to make sure UMI-tools meets everyone's needs where possible so it's always good to get feedback about any functionality requirements. The issues regarding documentation and errors in the output are also obviously very helpful! Do you mind if I ask how you're using UMI-tools? I.e academic, industry, as part of another software prod

[2017-02-02 16:56] IanSudbery commented on #78
Two things we need to think about:

What happens if we encounter an unmapped read in the middle of a load of
mapped reads? Do we stop and output it?

What happens if read1 is unmapped, but read 2 is mapped? How do we handle
deduping? What happens if an unmapped read is fed to the TwoPassWriter?
 (At the moment we dedup on read1 mapping position and insert size).

[2017-02-03 06:35] MarinusVL commented on #44
Hi,
I'm also interested in dedup per gene so thanks for the suggestions on how to make it work by reformatting the bam. I just wanted to put two options out there to maybe get this implemented sooner. The sam file with the XF gene_id tag from htseq can simply be sorted with a unix sort so could perhaps the tag based dedup be implemented without much work on your side by specifying the tag and requ

[2017-02-03 08:40] TomSmithCGAT commented on #74
@Poshi Can I just confirm this is working in your hands now?

[2017-02-03 08:45] #72 closed

[2017-02-03 08:48] TomSmithCGAT commented on #44
Hi @MarinusVL. Thanks for the suggestions. I've added per-gene deduplication to our TODO list for the next version so we'll have a look at this shortly.

[2017-02-03 10:46] Poshi commented on #74
Sure!
It works now, but the behavior is not clear. --subset has a parameter, a fraction. I understand that this should be a value in (0..1). I tried with 0.1 and got what I expected, 90% discarded:
[code]
But then I tried with 10, like trying to say 10%. Nothing got discarded, and no error message was issued about the parameter being out of range:
[code]
I feel like the parameter is working, but a

[2017-02-03 10:58] TomSmithCGAT commented on #74
Good point. I'll add this to this TODO list for the next release.

[2017-02-03 11:04] Poshi commented on #78
@TomSmithCGAT Regarding the marking of duplicates, I'm not sure if you are talking about adding tags with the information or modyfying the FLAG field of the sam file.
What I will do would be take a read as a representative (by better MAPQ score, less secondary alignments... whatever), leave that one as is, and mark the others as duplicates by setting the proper sam FLAG (0x400) and maybe also putt

[2017-02-03 11:17] TomSmithCGAT commented on #78
@Poshi Yes this is exactly what I was thinking. The dedup command selects the best read according to MAPQ, number of mapping positions etc. We would use the same process to identify the 'primary' read and mark all other reads within the group as 'duplicate'.

We'll have to have a discussion internally about how to deal with quality scores.

Ian's point was more in relation to the internal workings

[2017-02-05 22:08] MarinusVL commented on #44
Great looking forward with what you come up with. Something that would handle the featurecounts tab file would be nice as it is so much faster compared to HTseq.

[2017-02-06 15:10] royfrancis commented on #31
Sorry. I haven't had the time to try it out. I am occupied with different work till March/April.

[2017-02-10 10:53] kliere opened #79 "Error running dedup and group"
Both scripts tell me that the module Utilities is not found/installed, which, however, is.

umi_tools dedup -I /Users/karsten/Downloads/example.bam --output-stats=deduplicated -S deduplicated.bam
Traceback (most recent call last):
  File "/usr/local/bin/umi_tools", line 11, in <module>
    load_entry_point('umi-tools==0.3.6', 'console_scripts', 'umi_tools')()
  File "/usr/local/lib/python2.7/site-

[2017-02-10 11:22] IanSudbery commented on #79
Hi Karsten,

That’s strange … Utilites is part of UMI-tools and should have been
installed when you install UMI-tools. How did you install the software? Was
it from PyPI/conda/source?

Can you post the output of `ls
/usr/local/lib/python2.7/site-packages/umi_tools/dedup.py`?

Cheers.

[2017-02-10 11:52] kliere commented on #79
Hi Ian,

I forgot some infos: UMI-Tools was installed on macOS 10.11 via pip install. as far as I can see, all scripts are in the uni_tools folder. However, here is the report:
$ ls /usr/local/lib/python2.7/site-packages/umi_tools/dedup.py
/usr/local/lib/python2.7/site-packages/umi_tools/dedup.py

$ ls /usr/local/lib/python2.7/site-packages/umi_tools/
Utilities.py	_dedup_umi.pyx	extract.pyc	networ

[2017-02-10 12:29] TomSmithCGAT commented on #79
Can you try running the following import statements in a python session and see what you get:
[code]

[2017-02-10 12:58] kliere commented on #79
Hope I got it right:

Python 2.7.13 (default, Dec 17 2016, 23:03:43)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named Utilities

[2017-02-10 13:02] IanSudbery commented on #79
@TomSmithCGAT Look like a bunch of import statements are collected together until the same try statement. I suspect one of the other imports is failing, and thus triggering the py3 style relative import. We should seperate these imports out into seperate trys

@kliere
Can you try:
import umi_tools.network as network
import umi_tools.umi_methods as umi_methods

[2017-02-10 13:03] kliere commented on #79
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/umi_tools/network.py", line 24, in <module>
    from _dedup_umi import edit_distance
  File "/usr/local/lib/python2.7/site-packages/pyximport/pyximport.py", line 445, in load_module
    language_level=self.language_level)
  File "/usr/local/lib/python2.7/site-packages/pyximport/p

[2017-02-10 13:04] kliere commented on #79
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/umi_tools/umi_methods.py", line 30, in <module>
    from _dedup_umi import edit_distance
  File "/usr/local/lib/python2.7/site-packages/pyximport/pyximport.py", line 445, in load_module
    language_level=self.language_level)
  File "/usr/local/lib/python2.7/site-packages/pyximpo

[2017-02-10 13:07] IanSudbery commented on #79
bingo!

Looks like the cython compiler doesn't have permission to write to the install directory. Did you install with `sudo`? Can you try running:

[code]
If this works the first time, _dedup_umi.c should be compliled and you should then be able to run without `sudo`

[2017-02-10 13:10] kliere commented on #79
Yep, I did install with sudo. ---

Yay, indeed, now everything seems to run. Great. Thank you so much!

Cheers,

k.

[2017-02-10 13:16] IanSudbery commented on #79
@TomSmithCGAT One for the install guide?

[2017-02-10 13:16] #79 closed

[2017-02-10 14:56] TomSmithCGAT commented on #79
@IanSudbery
Thanks for sorting this and spotting the lazy try except.

I suspect this may be a mac-specific issue since the introduction of System Integrity Protection.

[2017-02-16 04:52] prplgk opened #80 "extract.py error - Utilities module"
Hi,

I ran setup.py and it completed without any warning. I was able to pull up umi_tools.py --help without issue. However, when I tried to run umi_tools.py extract --help, I encountered the following  error. Can you please tell me what the issue is?

Thanks,
prplgk
------------------
Traceback (most recent call last):
  File "umi_tools.py", line 49, in <module>
    sys.exit(main())
  File "umi_to

[2017-02-16 14:38] IanSudbery commented on #80
Hi,

Sorry to hear you are having trouble. It looks like the setup command hasn't worked properly. How did you run setup.py (i.e. with what command?) and which operating system and version of python are you using?

Cheers.

[2017-02-16 20:52] mattgeorge28 commented on #58
Hi Tom,
Sorry for no reply. I've been having some issues with our server and my
data recently. Will let you know as soon as I know. However, after looking
at the results from UMI-tools, I doubt Picard could possibly detect more
true positives.
Matt

On Thu, Jan 19, 2017 at 1:36 AM, Tom Smith <notifications@github.com> wrote:

[2017-02-16 22:59] prplgk commented on #80
I am using Ubuntu 14.04 in Windows subsystem for linux with python 2.7. I have since installed Anaconda and reran all the dependency and package installation to see if it helps with anything. This time I got the error message about "no module named packages.urllib3.util. Does this help with diagnosing the problem? Thanks!

-----------------

user@LAPTOP-S96NAB96:~$ conda install -c https://conda.a

[2017-02-16 23:51] prplgk commented on #80
Sorry I realized I never answered one of your questions. This is how I ran the setup command (in Windows bash, prior to installing Anaconda):

python setup.py install --user

[2017-02-17 11:37] IanSudbery commented on #80
I’ve not tried install on windows subsystem for Linux. I’ll have a look at
it when I can get to a machine that has it installed.

*From:* prplgk [mailto:notifications@github.com]
*Sent:* 16 February 2017 23:52
*To:* CGATOxford/UMI-tools <UMI-tools@noreply.github.com>
*Cc:* Ian Sudbery <i.sudbery@sheffield.ac.uk>; Comment <
comment@noreply.github.com>
*Subject:* Re: [CGATOxford/UMI-tools] extract.p

[2017-02-20 13:27] vang42 opened #81 "same read in two different UIDs"
I have discovered that whenI use umi-tools group, I get a small number of reads in more than one UID group. This happens in directional mode but nor in cluster or unique mode

This is my command:
umi_tools group -I input.bam --group-out=out.grouped --method=directional

example from out.grouped:

`
NB501001:62:HLWYHBGXX:1:11101:21260:7952_TGGGTG chr2    33141308        TGGGTG  1       TGCTTT  51

[2017-02-21 08:19] TomSmithCGAT commented on #81
Hi @vang42. That's odd, and definitely not the intended output. If you could share some test data that would be great.

[2017-02-21 12:41] TomSmithCGAT opened #82 "Add test for quality thresholding with extract"
Currently no test for quality thresholding option with extract command. Current code is not py3 compatible! (uses dict.iteritems())

[2017-02-21 12:51] vang42 commented on #81
Thanks! I have send you an email with the data.

[2017-02-21 17:23] TomSmithCGAT commented on #81
Thank vang.

I've pushed the changes required to fix the _group_ command with directional, and also enabled adjacency with _group_.

If you need the update urgently, you can install UMI-tools from the {TS}-FixGroup branch (Let me know if you need instructions for how to do this).  Otherwise, these changes will be included in the next release (0.3.7) which should be available by the end of next wee

[2017-02-21 22:00] vang42 commented on #81
Thanks a lt! It is working nicely.

[2017-02-24 04:09] danshu opened #86 "Support for chromium sequencing?"
Hi,

Chromium sequencing also has the problem of PCR duplicates and does UMI-tools support chromium sequencing? Can I attach barcode to read name and then run "dedup"?

Best,
Danshu

[2017-02-27 20:13] TomSmithCGAT opened #87 "QUICK START guide should cover new tag options"

[2017-02-28 15:53] TomSmithCGAT commented on #86
Hi @danshu. I've not got any experience with Chromium sequencing but UMI-tools should support it. Was there any particular reason you think it might not?

UMI-tools _dedup_ by default expects the UMI to be in the read name. You can use UMI-tool _extract_ to move the UMI prior to alignment. Alternatively, if you're using an aligner which adds a tag to the read with the UMI,  you can specify this wi

[2017-02-28 15:53] #81 closed

[2017-02-28 15:54] #68 closed

[2017-02-28 15:55] #39 closed

[2017-02-28 15:59] #74 closed

[2017-02-28 16:02] #67 closed

[2017-02-28 16:02] #77 closed

[2017-02-28 16:03] #82 closed

[2017-02-28 16:03] #73 closed

[2017-03-01 04:19] danshu commented on #86
Hi @TomSmithCGAT  I thought UMI-tools should also support Chromium sequencing but I didn't found any text mentioning this in the manuscript or in README.rst. So I just want to double confirm before actually starting using it.

I have append barcodes to my read names and barcodes are not in read sequences. Here is an example:
@ST-E00129:523:HC2HTALXX:3:1110:6837:51518_AAACACCAGGCATGGTA BX:Z:AAACACC

[2017-03-01 08:40] TomSmithCGAT commented on #86
Hi @danshu. Thanks very much for pointing out the error in QUICK_START, I'll amend that immediately!

From a quick read of the Long Ranger BASIC documentation you've posted it looks like the BX tag will contain the error corrected barcode. Unfortunately, as this is contained in the optional comment portion of the sequence identifier, this will be lost when you align the reads.

In the example abov

[2017-03-01 09:16] TomSmithCGAT commented on #86
Hi again @danshu. After a deeper read of the Long Ranger documentation, I would ignore my comment above and run the Long Ranger BASIC and ALIGN pipelines. If you believe there is a significant problem with PCR duplicates in the final output from the ALIGN pipeline, you can try using UMI-tools _dedup_ specifying that the UMIs are encoded in a BAM tag (this will be supported in the next version whic

[2017-03-01 09:32] MarinusVL commented on #44
Hi Tom,

That's great.I'm not sure I've time this week but next week should work to
give these a test run. Thanks for implementing this so quickly. I'll run
them on cellseq2 data from HT-seq processed files and an aligned to
transcriptome bam file from STAR

best regards, Marinus

2017-02-28 9:17 GMT-08:00 Tom Smith <notifications@github.com>:

[2017-03-01 09:54] IanSudbery commented on #86
If I might chime in? It sounds like you only want to run the BASIC pipeline and not the ALIGN one?

@TomSmithCGAT is right that in all likelihood whatever aligner you use will remove the error corrected barcode specified on the BX tag. You could post-process the reads to attach the barcode to the read name - e.g.

[code]
You'll need to do this for both read ends.

You could then run

[code]

The c

[2017-03-01 10:19] danshu commented on #86
@TomSmithCGAT @IanSudbery
Thanks for you explanations.
Actually the additional final 'A' I attached to read id is for distinguishing between two chromium libraries which share some common barcodes.  I only run Long Ranger BASIC and not the ALIGN one. My reference genome is not human and I intend to use bwa or bowtie for mapping.
I don't care about errors in barcodes. Barcodes with low read count w

[2017-03-01 12:18] IanSudbery commented on #86
Yeah, the contents of the file specified to `--output-stats` would be
great.

As for low count UMIs – we find that there is evidence that even UMIs that
are not low count might arise as errors – mostly from PCR rather than from
sequencing.

*From:* danshu [mailto:notifications@github.com]
*Sent:* 01 March 2017 10:19
*To:* CGATOxford/UMI-tools <UMI-tools@noreply.github.com>
*Cc:* Ian Sudbery <i.sud

[2017-03-01 15:38] #87 closed

[2017-03-03 08:12] danshu commented on #86
@TomSmithCGAT @IanSudbery
Here are --output-stats of the longest contig.
out_stats_per_umi_per_position.tsv
counts	instances_pre	instances_post
1	1685954	1685954
2	99483	99483
3	6279	6279
4	472	472
5	45	45
6	15	15
7	5	5
8	3	3
9	6	6
13	1	1

out_stats_edit_distance.tsv
edit_distance	unique	unique_null
Single_UMI	1606296	1606296
0	0	0
1	13585	0
2	7	0
3	20	0
4	18	5
5	38	12
6	94	69
7	195	212
8	504	666

[2017-03-03 08:23] TomSmithCGAT commented on #86
Thanks @danshu. Could you post of the last 10 lines of the log as well.

[2017-03-03 09:16] danshu commented on #86
# subset                                  : None
# threshold                               : 1
# timeit_file                             : None
# timeit_header                           : None
# timeit_name                             : all
# umi_sep                                 : _
# umi_tag                                 : RX
# whole_contig                            : False
2017-03-03 15:47

[2017-03-03 09:40] IanSudbery commented on #86
So, if I had to guess, I'd say that what is happening here is that the reads have already been de-duplicated on the basis of the barcode by the Long Ranger pipeline. THe pipeline contains a task called "bucket fastq by barcode" - I would say its doing UMI deduping pre-alignment simply on the basis of the UMI (and possibly the read sequence). All of the mapped reads that are entering the dedup are

[2017-03-03 12:25] danshu commented on #86
Thanks and I will further check that!

[2017-03-03 12:25] #86 closed

[2017-03-06 15:55] simiii123 opened #92 "umi_tools extract - fastq files missing header lines"
Hello,

I have encountered an issue during the extraction step. The resulting fastq files are randomly missing lines.

**command**:
_umi_tools extract --read2-in=$fastq2 --read2-out=$out2 --quality-encoding=phred33 --quality-filter-threshold=20 --random-seed=1 -I $fastq1 --bc-pattern NNNNNNNNNN -S $out1 -E $umi_err_

In almost all resulting fastq files, I see either missing header lines for some r

[2017-03-07 12:41] TomSmithCGAT commented on #92
Hi @simiii123. This is odd. I'm not able to replicate this. Would you mind sharing your input fastq? Ideally, small input file which always gives unexpected output (it doesn't need to give the same unexpected output each time)

I notice that you have paired reads but you've not supplied the `--split-barcode` option. This means the UMI will only be extracted from the first read. Is this the output

[2017-03-09 16:01] TomSmithCGAT commented on #78
Retaining unmapped reads with the _group_ command is now supported (v0.3.7).

See option `--output-unmapped`

[2017-03-09 16:01] #78 closed

[2017-03-14 19:50] gpratt opened #93 "umi tools very slow when dumping large number of contigs"
Hello, I'm trying to run umi tools for ~8000 contigs + the regular hg19 chromosomes.

I found that umi-tools runs at a fine speed, until it gets to my specially defined contigs.  Then it takes ~30sec per contig dump.  Each contig only has a few hundred reads, so I'm surprised its taking this long.  Is there a way around this issue?

Right now the command I'm running is:
`umi_tools dedup -I /home/g

[2017-03-15 09:04] TomSmithCGAT opened #95 "Tests - Paired end and sRNA-Seq"
Testing does not currently cover paired end input!
Ideally we want a test input file with instances of the following:

- Paired ends aligning to different chromosomes
- Read 1 mapped, read 2 unmapped. And vis versa

Also, we could do with tests to cover the `--read-length` option, ideally from some sRNA-Seq

[2017-03-20 12:43] IanSudbery opened #96 "Abstract core algorithm in to C library"
In order to allow wider adoption of the UMI-tools deduplication methods beyond simple position + UMI based deduping we would like to create a C library that implemented the core algos.

As much as possible we would like to the abstracted C calls to take a list of UMIs and their counts, and return either a list of deduplicated UMIs or grouped UMIs according to the specified method choice.

- [ ] Th

[2017-03-20 12:57] IanSudbery commented on #96
The branch code_algo_in_c contains the beginnings of this. Commit  32c1ed6 contains first attempt at the abstraction problem.

Currently I've tried to remove any refference to BAM objects from the class ReadClusterer, which this commit renames UMIClusterer. Read specifics are now delt with by the new ReadClusterer, which basically calls UMIClusterer and applys the results to the current bundle.

C

[2017-03-20 14:01] TomSmithCGAT commented on #96
Hi @IanSudbery. This is a great idea. I'm very much on board!

Regarding stats, as I see it the issue only relates to collecting the 'further stats'  which provide information on the topology of the networks. Essentially this was added to _dedup_ to generate statistics for the publication and I don't see it as a core functionality of _dedup_. It was implemented in a 'least hassle' manner without a

[2017-03-20 16:52] IanSudbery commented on #96
Hi Tom,

I'd be happy to drop the further stats. I don't know if anyone actaully uses them.

As for the seperating out the steps ... I thought about this, but I would like users to be able to use the library without really understanding what is going on under the hood. So I would like everything to happen in one step ideally.

Of course, I can just about imagine a scenario where one command is run

[2017-03-20 17:11] TomSmithCGAT commented on #96
Yeah, let's drop it then. This will of course cause a minor backwards compatibility issue if anyone's using the option in a pipeline etc but I doubt anyone is using it either. We can always return to this if required.

Each group contains a set of unique reads/UMIs (for a given location). If the C library function took UMI counts as input and returned ordered groups as output, the top read would j

[2017-03-20 17:34] IanSudbery commented on #96
Is that the case irrespective of the method?

[2017-03-20 17:59] TomSmithCGAT commented on #96
Yup. Any one read should only be assigned to a single group and the read with the highest counts is always considered the 'best' read.

[2017-03-21 10:56] IanSudbery commented on #96
Not true. Your group directional assumes that nodes in a cluster are ordered by count, but _get_connected_components_adjacency does not guarantee this.

This may also be why the recursive search and the breadth first search return different things.

[2017-03-21 11:11] TomSmithCGAT commented on #96
Umm...that's a concern! I'll have a look into this later. Thanks!

[2017-03-21 11:15] Hoohm opened #97 "Steps for single cell (drop-seq) protocol"
Hello,
I'm trying to use your tool to handle our single cell drop-seq data.
The method is using paired reads but the pairing is not on the gene itself, meaning we're not doing paired end sequencing, but rather having the barcode + UMI on R1 and the sequence on the R2.

As an example:
R1:
@HISEQ:190:H5VNVBCXY:1:1101:1380:2019 1:N:0:TAAGGCGA
NCTGACGCAAGGACAGGGAG
+
#<<GGGGIIIIGIIGGIAGG

R2:
@HISEQ:19

[2017-03-21 11:29] IanSudbery commented on #96
If I insert a sort statement in _group_directional:

[code]

then
the first UMI in each group matches the output for deduplicating.

[2017-03-21 11:32] IanSudbery commented on #96
And, with the above change, enabling the recursive search now gives the same result.

[2017-03-21 11:32] TomSmithCGAT commented on #96
Yes, just came to the same conclusion myself. Thanks for spotting this

[2017-03-21 11:33] TomSmithCGAT commented on #96
Ah, brilliant!

[2017-03-21 11:33] IanSudbery commented on #96
Do you want me to patch the sort into the master?

[2017-03-21 11:37] TomSmithCGAT commented on #96
Yes please! Checking back on the previous issue regarding the recursive search (#69), I was getting a different result for _dedup_ with directional with a high depth sample (not covered by tests) so I suspect this is still the case given the code for _dedup_ isn't affected?

[2017-03-21 14:46] TomSmithCGAT commented on #97
Hi @Hoohm. Arguably, you could use the a single barcode (cell + UMI) for deduplication as this would correct for errors in both the cell barcode and UMI simultaneously. However, unless I'm mistaken, the two barcodes are subtly different. Whilst both barcodes are random, the cell barcode should be one of _n_ discrete sequence, where _n_ is the number of cells sequenced. Due to sequencing errors (an

[2017-03-21 15:14] IanSudbery commented on #97
I wasn't aware that drop-seq had white listed cell barcodes?

I would be templated to extract the full 20bp as a single barcode/UMI, perform the deduplication on this, and then split the barcode into cell barcode and umi. The only thing you might want to watch out for is that at 20bp, you might want up the edit_distance threshold. What do you think @TomSmithCGAT?

In theory, you could do the two s

[2017-03-21 15:18] Hoohm commented on #97
The way we consider valid cell barcodes is by checking the cumulative
fraction of reads per cell barcodes on a so-called knee-plot. This allows
to determine this white list of barcodes that you select as "whole cells".
The "bend" is considered as the moment where the fraction of reads drops
significantly and hence is not a whole cell anymore but rather floating
RNA. (knee_plot attached)

We alread

[2017-03-21 16:40] TomSmithCGAT commented on #97
Hi @Hoohm. The knee-plot approach sounds identical to the method used in the Klein _et al_ inDrop paper which came out around the same time. When I re-analysed the inDrop data, I first made a cell barcode whitelist, then I parsed the raw data and split the reads into single end fastqs for each whitelisted cell barcode, discarding reads which did not match the whitelist. At the same time I correcte

[2017-03-21 16:45] TomSmithCGAT commented on #97
@IanSudbery Should we perhaps consider supporting a drop-seq/inDrop UMI extraction using the method above. We could leave it up to the user to generate a cell barcode white list as they wish. It wouldn't take much effort to add this to UMI-tools but my concern is how stable the drop-seq/inDrop methods are? However, presumably any droplet based method will have a similar issue with the cell barcode

[2017-03-21 16:51] IanSudbery commented on #97
@TomSmithCGAT In the long run, I think we should provide the ability to pass `dedup` a tag that contains a cell barcode and this should be added to the bundle key so that splitting into separate files wasn't necessary.

I'm also interested in whether our methods could act as a replacement for the knee method. Either by deduping on the whole barcode (cell + UMI) or the two step porcess I outlined a

[2017-03-21 17:28] TomSmithCGAT commented on #97
@IanSudbery Good idea. How would you see this working generically with any aligner? We could fall back on the method of appending the cell barcode to the read id, i.e:
`
@HISEQ:190:H5VNVBCXY:1:1101:1380:2019_AGACTAGGAG;AGCGAGCG
`
where the barcodes are ;-separeted. If no cell barcodes are extracted, the cell barcode portion of the bundle key would be empty.

My guess is that the knee method should

[2017-03-21 17:35] Hoohm commented on #97
I think you are right, merging two barcodes that are close but abundant
should be avoided.
Finding the top n cell barcodes for the whitelist should be used to
collapse the rest of the reads but avoided inside the whitelist.

2017-03-21 18:28 GMT+01:00 Tom Smith <notifications@github.com>:

--

*Roelli Patrick Division of Animal Physiology and Immunology TUM School of
Life Sciences Weihenstephan Te

[2017-03-21 18:12] IanSudbery commented on #97
I fell like the first step would be to allow `dedup` to do the per position, per cell group deduplication based on a user specified BAM tag. This step would be useful for pretty much any multiplexed single cell sequencing technique I reckon.

The next step would be to implement methods for getting that tag onto the BAM record. I think the would have to be some sort of extra field on the fastq reco

[2017-03-21 18:45] TomSmithCGAT commented on #97
@IanSudbery There's an example of the 'knee' plot on page 12 of the drop-seq guide [here](http://mccarrolllab.com/wp-content/uploads/2016/03/Drop-seqAlignmentCookbookv1.2Jan2016.pdf). It appears that the 'knee' is not automatically calculated. I think the easiest way to do it automatically would be to make a density plot for counts per cell barcode and then find where the second derivative = 0. Th

[2017-03-21 18:47] TomSmithCGAT commented on #97
@Hoohm. I'll dig out the relevant code tomorrow afternoon

[2017-03-21 18:48] Hoohm commented on #97
@TomSmithCGAT That would be the easiest way to do it. Although, some people are struggling to have a clear signal and don't get this "bend" on the plot, making it complicated sometimes to define where the limit is.
Automatic is fine, but there should be a possibility to decide manually.

[2017-03-21 19:11] IanSudbery commented on #96
Okay, lastest push (see  f48e99d) contains the fully abstracted code as we discussed. I've also reimplemented group for adjacency to make it quicker as it initially doubled the run time. This has the benefit of making the code more compact.

I've tested against the nosetests, and a couple of full size files (directional and adjacency). Things are the same up to a sort order.

I've also created a s

[2017-03-22 12:21] TomSmithCGAT commented on #97
@Hoohm I've attached a python function which will take the paired end fastqs from drop-seq and perform the UMI extraction. Github wont let me attach a .py file so I saved it as .txt:
[parse_dropseq.txt](https://github.com/CGATOxford/UMI-tools/files/861343/parse_dropseq.txt)

This code is modified from the `extractUMIsAndFilterFastqGSE65525` function in [PipelineScRNASeq.py](https://github.com/CGAT

[2017-03-22 13:20] TomSmithCGAT commented on #96
Great.  So we're ready to try out a C library for the networks.

Do you want me to go through and remove the further stats option and documentation - This will fail currently if the --further-stats options is supplied though I guess that's not a problem on this branch?

[2017-03-23 17:29] #93 closed

[2017-03-23 20:48] gpratt commented on #31
To chime in, I'm using the most up to date version of UMI tools, and I'm still getting hit by very slow computation for a number of my paired-end datasets, I'm up to 36 hours in a number of cases.  I'm pretty busy at the moment too, but this looks like its still an issue worth working on.

[2017-03-23 21:07] TomSmithCGAT commented on #31
Thanks for the update @gpratt. How many reads do you have per sample? 36 hours sounds like too long unless you have an incredibly high depth. The run time should be linear with respect to the number of reads for samples with very low duplication but it will be quadratic with respect to the complexity of the networks for samples with higher duplication rates.

Would you be OK to share a subset of t

[2017-03-23 21:37] gpratt commented on #31
Here is my [full sample](https://s3-us-west-1.amazonaws.com/sauron-yeo/NSUN2.bam). After looking at the datasets that failed / slowly processed, I don't think its an issue with number of reads in the dataset, what I sent you has 12,935,516 reads, pre-duplicate removal.  I've deduped many datasets with a higher sequencing depth.

I'm going to guess the problem is with binding locations.  NSUN2, the

[2017-03-24 03:37] gpratt commented on #31
I did a bit of digging myself to see if I could figure out what the problem is.  For my issue the slowdown lies in  `breadth_first_search`.  The way its implemented with the loop is really inefficient for large graphs.  I'm pretty sure the slowdown has to do with the difference update code.

Good news is switching to `breadth_first_search_recursive` gives a huge performance boost, and gives a bett

[2017-03-24 08:39] TomSmithCGAT commented on #31
Hi @gpratt. I'm really glad to hear `breadth_first_search_recursive` improves the run time - this was the first thing I'd planned to check. We had planned to implement the recursive search for large networks from version 0.3.5 onwards but the output wasn't consistent with the non-recursive search and I haven't worked out why yet. Do you get the same output for the recursive and non-recursive searc

[2017-03-24 17:37] gpratt commented on #31
I wasn't able to check that chromosome, from my profiling it looks like the non-recursive version of the breath first search would take over 24 hours to finish on a single bundle, and there are 3-4 bundles in that chromosome like that.

Checking that is low priority for me too, although if I get some downtime, I'm in this problem enough that I'll come back to it.  FYI I'm pretty sure (although hav

[2017-03-24 22:38] TomSmithCGAT commented on #31
I'll have a play with the breath_first_search and see if we can reduce the run time by removing some of the set operations.

I downloaded the sample you linked to but there doesn't appear to be any UMIs in this sample?

[code]

[2017-03-25 08:02] gpratt commented on #31
Woops, forgot adjust the barcode from out in-house location to yours.  For some reason years ago I decided that the UMI should go in front of the read name, AAACCCCACC is the UMI in this case.

Either way, I've uploaded a fixed version of the bam file to the same location, should work out of the box now.

I also did what I said would happen, got bored and wrote the fix :).  It worked well on my te

[2017-03-27 09:00] LTLA opened #100 "installing and executing from non-default target directory"
Hi guys,

Thanks for this tool. I'm hoping to use it for some of my analyses, but I'm having some trouble getting it running. I've installed it to a non-default target directory via `pip`, using the `-t XXX` option - this seems to have worked fine. But it's not clear to me what I should be doing to make UMI-tools available on the command line. I presume there's a script I have to add to `bin` some

[2017-03-27 10:09] IanSudbery commented on #69
CLosing this for now as we came to the conclusion that the overhead on parallelisation was greater than the reward.

[2017-03-27 10:09] #69 closed

[2017-03-27 11:12] IanSudbery commented on #100
Hi Aaron,

Thanks for your question. we thought we had this covered but apparently not! Is there somewhere you can run `umi_tools dedup --help` where you have read/write access to both `/lustre/jmlab/software/lib/python2.7/site-packages/` and `/home/lun01` ? This should only happen on the first run.

[2017-03-27 11:39] LTLA commented on #100
Running `umi_tools dedup --help` works fine, and makes an object file at the following location:

[code]

This seems like a rather odd place, though. A better place would be the actual installation directory:

[code]

In any case, I'll re-run UMI-tools on my data set now that the objects are built. I'm using the command:

[code]

... where `out.bam` is coordinate-sorted.

[2017-03-27 12:50] LTLA commented on #100
__Update:__ The good news is that `umi_tools` no longer throws an `ImportError` in the repeated run.

The bad news is that it throws another error:

[code]

Presumably this comes about because of unmapped mates.

[2017-03-27 13:40] IanSudbery commented on #100
Are you running `group --output-unmapped`?

If so then the unmapped mate of an unmapped mate would be my guess.
Otherwise sounds like you have a funky BAM file.

For the moment I’d run without the `--output-unmapped`. I’ll look into a
more permanent fix.

[2017-03-27 13:50] IanSudbery commented on #100
Okay, that was easier than I thought. You could have a go with the code referenced in #101 if you like. Hopefully that should solve that problem.

As for the weird build location. Believe it or not that is Cython's default build location!

[2017-03-27 14:27] LTLA commented on #100
Thanks Ian. I haven't run `umi_tools group` at all; just went straight to `dedup` after alignment/sorting. I'm currently validating the BAM file with _Picard_ to make sure that it's okay; I had already run it through `FixMateInformation` before trying to run `umi_tools`, so I can't imagine there would be much wrong with it. In the meantime, I'll try out the code in #101, hopefully it solves the pr

[2017-03-27 15:04] IanSudbery commented on #100
Dedup should discard reads with unmapped mates by checking the 0x8 bit of the flag. If that is not set, then the tid of the mate shouldn’t be -1. If your file comes out of Picard with a thumbs up, perhaps you could send me some of it so I can work out what is going on.

For your other questions:
* the `umi_tools` script is what is known in pythonland as a `console_script`. It is generated on the f

[2017-03-27 15:51] LTLA commented on #100
Got it (probably). The BAM file contains supplementary alignments (`0x800` set), which are labelled as pairs but do not have `0x8` set or a sensible value of `mtid`. This is because `FixMateInformation` ignores supplementary and secondary alignments during the fixing. I assume that `umi_tools` isn't ignoring these alignments, which causes the observed error.

To give more detail, this is not RNA-s

[2017-03-27 16:21] TomSmithCGAT commented on #100
This does sound like the likely source. We currently leave the user to decide whether they want to remove secondary/supplementary reads prior to deduplication. Since each position is considered independently, I'd usually recommend using an input BAM with a single alignment for each read. However, I can see in your case you may wish to retain the supplementary alignments for downstream analyses.

@

[2017-03-27 16:22] IanSudbery commented on #100
Our philosophy on supplementary and secondary alignments is that what users want to do with them is going to depend entirely on what their application is, how their mapper is using the flags and their existing views on multimapping, non-local alignment etc. Thus we though the best way to deal with these issues was to not deal with them and just treat secondary and supplementary alignments like any

[2017-03-28 09:53] IanSudbery commented on #100
Hi @LTLA, Can you try the code in branch dd9c54a - it should build, compile and install the cython extensions in the UMI-tools directory.

@TomSmithCGAT Reading around, it seems like pyximport is probably bad practice as it monkey patches core python keywords (import), and can foobar other Cython code running in the same process (not an immediate problem as we have control over everything in the l

[2017-03-28 10:46] LTLA commented on #100
The good news is that after removing the supplementary alignments, `umi_tools` has been running happily, so hopefully that issue is solved. The not-so-good news is that the `pyximport_inplace` branch doesn't alter the build location. I did the following:

1. Switched to the `pyximport_inplace` branch in the Git repo.
2. Ran `python setup.py install`.
3. Deleted the `~/.pyxbld` folder.
4. Ran `umi_

[2017-03-28 13:31] IanSudbery commented on #100
Well that is inexplicable and annoying … it works on my system (every
software maintainer’s famous last words eh?).

Can I ask you to do a couple of things for me…

1)      Start a python interpreter with `python`
import the umi_tools network module with `import umi_tools.network`
ask where this is being imported from with `umi_tools.network.__file__`

2)  Open up the `network.py` file in
`/lustre

[2017-03-28 13:52] LTLA commented on #100
_"works on my system"_ - story of my life :)

Anyway, your prompts made me realise that I had pulled down the branch but not the latest commit, which was why `network.py` was actually not up to date. Once I corrected this, the strange stuff at `~/.pyxbld` is no longer generated on the first run of `umi_tools`.

Instead, I see a shared object at the more sensible location of:

[code]

Success! Cyth

[2017-03-28 14:01] IanSudbery commented on #100
Not sure there is much we can do about the weird temp files. Glad its
working.

[2017-03-31 11:47] LTLA commented on #100
Thanks Ian. `umi_tools` is running fine now, so I'll close this issue.

[2017-03-31 11:47] #100 closed

[2017-04-03 03:10] jblachly commented on #31
Hi @TomSmithCGAT  and @IanSudbery

Congratulations on your paper! Have been following since the blog post.  I've just loaded up UMI-tools for the first time this weekend as we finally have our data back, and have also been struck by the incredibly slow speed. Found this issue and thought I would contribute some data. Perhaps it is a misconfiguration on my end? Installed with `sudo pip` and have al

[2017-04-03 03:16] gpratt commented on #31
Try installing from the master branch rather than from pip.  My version of
this issue was fixed a week or two ago in master, but I'm guessing the
change hasn't been pushed to conda / pip yet.

Gabriel Pratt
Bioinformatics Graduate Student, Yeo Lab
University of California San Diego

On Sun, Apr 2, 2017 at 8:10 PM, James S Blachly, MD <
notifications@github.com> wrote:

[2017-04-03 04:38] jblachly commented on #31
@gpratt I have commit latest commit from master branch, version 0.4.3, installed through pip. They certainly are on the ball with pip.

[2017-04-03 09:08] TomSmithCGAT commented on #31
Hi @jblachly. Thanks for the detailed break down of the run time. From what you say, it sounds like the issue is the network building stage which is O(n^2) since perform an all vs. all comparison between the UMIs. Would you mind sharing your BAM so we can profile the script and see what the bottleneck is?

[2017-04-03 09:37] IanSudbery commented on #31
Hi @TomSmithCGAT , expect that I don't think the stats/no stats difference tallies with that: When building stats, we do the all vs all comparisons with the randomly sampled reads, as well as the actual reads at the locus. Thus should stats not at the very least double the amount of time spent building edit-distance matricies? This suggests that once again it is the connected component finding, ra

[2017-04-03 22:26] jblachly commented on #31
Dear @IanSudbery , thanks for your willingness to help with this. I have sent you a note under separate cover with a link to the BAM files.

[2017-04-04 14:07] IanSudbery commented on #31
Okay, I have located the problem here...

You have many reads where the read 1 is on a different chromosome to its mate.  This causes some issues as the end of each chromosome we output all the mates from a particular chromosome. If the mates aren't found, they accumulate in a buffer and we go searching for them at the end. This exhaustive search at the end is slow, and only there as a last resort

[2017-04-04 14:57] jblachly commented on #31
@IanSudbery -- thank you so much for tracking this down. We are working with cancer samples so the mate mapping to different contig is going to be a common theme for us (and others in this field). Let me know if I can help in any way with the improvement (I can test other branches etc.).

[2017-04-04 15:48] TomSmithCGAT commented on #31
@IanSudbery. At worst this will only ever mean passing through the whole BAM file once more which is tolerable compared to the pathologically poor performance in this case when using the index to try and specifically retrieve the missing pairs. This will also obviously only ever be triggered when the user has chimeric reads since otherwise the `read1s` set will be emptied with each call to `write_

[2017-04-07 13:46] achamess opened #102 "UMI Tools for sci-RNA-seq analysis"
Hi. Thanks for creating this tool. I'm trying to do an analysis from a pre-print on some scRNA-seq data and I think UMI Tools might be appropriate.

Here is the paper: http://biorxiv.org/content/early/2017/02/02/104844

Basically, there is a P5 adaptor, i5 index, UMI (8)+Barcode (10) in the R1 file (18 bp) and then from the reverse side a P7 adaptor and the actual cDNA insert read (52 bp)

We ran

[2017-04-07 13:52] IanSudbery commented on #102
From what I understand of have a UMI on read1 and the mouse sequence on read2? If thats the case, then yes, the best way to proceed is to extract the UMI from read1 and add it to the name of read2.

`umi_tools` extract will do this if you add `--read2-in` and `--read-out` options to the call. By default it is assumed that the UMI is only found on read one. Read1, trimmed of the UMI will be output,

[2017-04-07 13:57] achamess commented on #102
@IanSudbery Thanks for the quick response! That's promising. Glad to hear this should work out. However, R1 also has an important barcode seq contiguous to the UMI. That information is critical too for one more round of demultiplexing (cellular index = i5 + i7 + the R1 barcode). Can I also attach that along with the UMI? Any thoughts on tools to demultiplex based on that last R1 barcode?

[2017-04-07 14:06] IanSudbery commented on #102
If you want to demultiplex to seperate files here is what I would do:

extract UMIs using UMI-tools. If you get the pattern right, the UMI should
be removed and added to R1 and R2 names, but the barcode left in place on
read1.
Next use a paired end aware demultiplexer to demultiplex files based on the
barcode - I've used reaper to do this before (
http://www.ebi.ac.uk/research/enright/software/kra

[2017-04-07 14:16] achamess commented on #102
Thanks @IanSudbery! Sounds like a plan. I’ll give it a try.

[2017-04-20 00:22] achamess commented on #102
Hey. I wanted to follow up. In the end, I made a pipeline of the following:
1. Trimmomatic to do paired-end trimming/QC
2. Join R1 (barcode + UMI) with R2 (cDNA) and then only work with the merged R1+R2 read in subsequent steps
3. UMI tools `extract` using default parameters and barcode pattern
4. Reaper to demultiplex based on RT barcode
5. STAR to align
6. UMI tools `dedup` to remove duplicates

[2017-04-20 08:36] IanSudbery commented on #102
Glad you found a way to make it work for you!

[2017-04-25 07:48] TomSmithCGAT opened #103 "Headers for Sam output"
The option ` --out-sam` enables sam ouput. Previously, we did not include `h` in the output mode which defaulted to no header for sam output. From pysam 0.11 onwards, the default behaviour is now to include the header which does seem more sensible (https://github.com/pysam-developers/pysama/releases).

This is causing all our tests to fail. I can resolve this by switching the header option off aga

[2017-04-25 08:32] IanSudbery commented on #103
I agree

On Tue, 25 Apr 2017 at 08:48 Tom Smith <notifications@github.com> wrote:

[2017-04-27 04:21] achamess commented on #102
Hi again. Do you have any thoughts on the best way to handle data from multiple lanes? For this sample, we have no run two Nextseq lanes from the same library pool. So these are technical replicates of each other. I know that the data need to be merged at some point. Right now, for each lane's data,  I did parallel steps. QC -> UMI extract -> STAR. With the output bam files, I then merged the bam

[2017-04-27 08:49] IanSudbery commented on #102
Its definitely important to merge the BAMs before you dedup.The reads
should retain their read groups through UMI-tools, so if you wanted to
examine lane specific effects, you should add read groups to the BAMs
before merging, and then you could look at things like read group specific
counts afterwards if that bothered you.

[2017-04-27 09:54] IanSudbery opened #105 "Unmatched pair output attempting to use tids (TypeError: an integer is required)"
In paired mode we have switched to using reference_names for fetching rather than tids. However, the code that outputs any unmatched reads at the end still trys fetch reads using the tid. This leads to the following error:

[code]

The fact we've not seen this before may be related to an update in pysam version.

The unmatched read finding code is being completely overhauled in the next release an

[2017-04-27 10:55] TomSmithCGAT commented on #105
Is there any reason the getting_mates branch hasn't been merged into master? Are we just waiting until we're ready for the next release?

[2017-04-27 11:36] TomSmithCGAT commented on #103
Fixed in {TS}-rebuild_tests

[2017-04-27 11:36] #103 closed

[2017-04-27 11:38] IanSudbery commented on #105
I was under the impression you wanted to change the way mate matching
worked with group?
See conversation here:
https://github.com/CGATOxford/UMI-tools/commit/c96dd45d652eeb144d17b6b1f2fcaa166c4f4ba5

On Thu, 27 Apr 2017 at 11:55 Tom Smith <notifications@github.com> wrote:

[2017-04-27 11:48] TomSmithCGAT commented on #105
Ah yes, thanks. Forgot all about that. I'll have a look at getting this done today then we can wrap all this up into a single update.

[2017-04-27 13:24] TomSmithCGAT commented on #105
@IanSudbery. Could you take a look at 2a49d4edc5510fca6f1143104338d92fbeefd1d7

The changes:

- Modified the group command so it just writes out the read2s immediately. Hence _group_ no longer uses the TwoPassWriter for paired end reads as we can do it all with one pass through the BAM.
- Documented the options for get_bundles as there are quite a few options (too many?) and I've started to forget

[2017-05-02 16:03] darachm commented on #44
Tiny issue I may be overlooking, but might help with clarity in documentation (unless I missed it) of this very useful feature in a very useful tool:

By "per contig" in "--per-contig", do you refer to field 3 in a SAM file (converted to BAM of course), that is "RNAME" or "Reference sequence NAME"?

[2017-05-03 19:38] b-dawes commented on #97
Hello,

I just wanted to chime in that I'm also interested in applying UMI Tools to dropseq data. Have you made any progress on this front?

I'm using Dropseq Tools from the McCarroll lab (under "Computational resources" [here](http://mccarrolllab.com/dropseq/)) to process my data. The output of this will be a BAM with the cell barcode in the XC tag, UMI in the XM tag, and gene in the GE tag.

If

[2017-05-04 09:07] Hoohm commented on #97
I haven't put more work into it right now I was busy pushing a new version
of my dropseq pipeline <https://github.com/Hoohm/dropSeqPipe>.

I will add the UMI tools in there once I have tested it against the
correction/fusion method proposed by the McCarroll lab.
I think the dedup method is a good one, although there is one thing that
might get you to loose some cell barcodes in the process. If I'm

[2017-05-04 09:20] IanSudbery commented on #97
As far as I can tell, currently the McCarroll pipeline maps to the genome, while at the moment we only support per_gene deduplicating if reads are mapped to the transcriptome. We are working on ways around this that don't involve a large increase in memory usage (the problem is we never know when we've seen all the reads associated with a gene and so don't know when to do the UMI collapsing. This

[2017-05-04 09:46] IanSudbery commented on #105
Hi Tom,

Looks good if thats the way you want to go with group.

[2017-05-04 09:46] IanSudbery commented on #102
Did you get this working?

[2017-05-04 10:06] IanSudbery opened #107 "Add FAQ"
Self explanatory.

There is some advice I keep offering over and over to people getting in contact. Particularly with regards to speed issues.

[2017-05-04 10:19] TomSmithCGAT commented on #107
Good idea. Possibly some of the quick start guide would be better here too (I'm thinking bespoke UMI extraction etc)?

[2017-05-04 10:32] TomSmithCGAT commented on #105
Great.!

I've put in a couple of Pull requests for the {TS}-debug_per-gene and {TS}-debug_per_gene branches (I accidentally created two very similarly named branches to debug different per-gene methods).
The will be some conflicts between these branches and the 'getting_mates' branch so I'll wait for these pull requests to be accepted and resolve the conflicts locally before the 'getting_mates' pu

[2017-05-04 10:55] TomSmithCGAT commented on #44
Hi @darachm. Thanks for the suggestion. You're correct that the per-contig option refers to the third column. I'll update the documentation to make this clear.

[2017-05-04 11:07] TomSmithCGAT commented on #97
Hi @b-dawes. I just like to echo @IanSudbery's comments. We're actively working on implementing an approach whereby you can retain the reads from all cells in a single BAM and use UMI-tools to both error correct the cell barcode and deduplicate the reads in an error-aware manner.

As you'll see from my comment above yours, I had to do this is a more labourious, naive manner which involved knowing

[2017-05-04 20:30] jhl667 commented on #31
Adding my own experiences.  I have been assessing this collection of tools for use in one of our processing pipelines.  Using the 0.4.3 release, I am running a paired-end analysis off of a 36mil line BAM produced from amplicon alignments.  I am doing one run only on chromosome 21, and the other is for the whole file.  The chr21 run looked to be done in less than a minute, but then has been running

[2017-05-05 07:49] IanSudbery commented on #31
Thanks for your input.  We'll certainly investigate your unbound error.

We're aware of the sort issue: the problem is that the tool outputs reads
in read.start position order rather than alignment start position order.
(E.g. the 3' end of reads on the reverse strand) we need to think about how
to deal with this without having to write out and then sort.

On Thu, 4 May 2017, 9:30 pm jhl667, <notif

[2017-05-05 09:03] TomSmithCGAT commented on #31
Hi jhl667. Thanks for mentioning the error with the --chrom option. It turns out this option was not covered by testing so this bug was missed when it was introduced. The debug will be included in v0.4.4.

[2017-05-05 10:14] TomSmithCGAT commented on #31
@IanSudbery I'm not sure how we can output in alignment start position order, unless we cache all reads per contig which could be very memory intensive. We might be able to reduce the memory usage somewhat with a sort of 'rolling cache' where we outputted reads from the cache when they were sufficiently upstream of the reads being read in. Even then, chimeric reads pairs would cause problems, unle

[2017-05-05 10:28] IanSudbery commented on #31
No, I think we would have to output to a temp file and then sort to the output file.

[2017-05-05 10:42] TomSmithCGAT commented on #31
Ah OK. Yeah I see no reason not to add this as an option. Perhaps make clear to the user than this is how its going to work so they don't try and pipe the output, not that I think anyone is probably doing this?

[2017-05-05 12:41] TomSmithCGAT opened #111 "umi_tools cellbarcode"
* This tool would take a BAM with a cell barcode and add a tag for cells which all came from the same cell

* Compute the tags using any of the UMI methods or the knee method

EDIT: From the discussion below these are the functionalities we need to add with UMI-tools _extract_. I suggest we do these sequentially (I'm adding this here to make the checklist visible in the issue description) :

- [x]

[2017-05-05 12:41] TomSmithCGAT opened #112 "Add ability to consider cell barcode with count command"

[2017-05-05 12:41] TomSmithCGAT opened #113 "per-gene deduplication on genome mapping"

[2017-05-05 12:41] TomSmithCGAT opened #114 "umi_tools count"
* For people doing per-gene scRNA-seq, the reads are immaterial and in general only count is of interest.
* This tool would count unique UMIs for a given contig, cell, gene combo.
* Doesn't have same memory issues as per_gene dedup

[2017-05-05 12:50] TomSmithCGAT commented on #114
Comment above from @IanSudbery's project note.

Clarification:
- Input would be BAM
- Output would be a tsv with 3 columns: gene, cell, count

Further considerations:

- We should maintain the `--per-contig`, `--gene-transcript-map` and `--gene-tag` options so the user can align reads to the transcript or genome
- I suggest we also support a flatfile input with read id (as suggested by @MarinusVL

[2017-05-05 12:52] TomSmithCGAT commented on #113
This is currently supported using the --gene-tag  option. However, this assumes the reads will be in gene order which may not be the case where there are overlapping genes. We need to come up with a more robust method to yield all reads per gene

[2017-05-05 12:57] TomSmithCGAT commented on #112
@IanSudbery. Could you clarify exactly where we want to consider the cell barcode and for what purpose? E.g do we want to support cell barcodes for both _dedup_ and _count_? Are we going to output error-corrected cell barcodes?

[2017-05-05 13:06] TomSmithCGAT commented on #111
Text above from @IanSudbery's project note.

I think there's an argument for performing the cell barcode grouping prior to alignment since all we need is the counts per cell barcode. The steps would be:

1. Parse the input fastqs and extract the cell barcode. Count reads per cell barcode
2. Identify the number of "true" cell barcodes (knee method or network-based method) -> barcode whitelist
3. Re

[2017-05-05 13:40] IanSudbery commented on #112
I think it would be easy enough to support in both dedup and count.

[2017-05-05 13:43] IanSudbery commented on #113
The problem with the non-sorted gene tags was what made me come up with the idea for "count" in the first place.

[2017-05-05 13:48] IanSudbery commented on #111
I suppose I was thinking that the pipeline would be:

1. Parse input fastqs and extract both cell bc and UMIs, add to read name
2. Align.
3. Process aligned file to convert the cell barcode stored in the name to a cell barcode tag, doing any grouping or correcting.

I hadn't twigged that statistics on the barcodes could be output by extract and the grouping done at that point meaning we would only

[2017-05-05 14:03] TomSmithCGAT commented on #113
Of course, we just enable `--gene-tag` with `count` only since all users will ultimate be using `--gene-tag` to obtain counts per gene in the end. I was stuck thinking of a way to solve a problem that doesn't need to be solved!

[2017-05-05 16:05] jhl667 commented on #31
@TomSmithCGAT @IanSudbery Ok, so just to be clear, the sensible thing to do in a workflow utilizing umi_tools dedup is to sort before and after?  I haven't actually assessed speed differences between sorting or not before dedup, but I am assuming it would make significant difference?  Honestly, for me, including an extra sort step doesn't make that much of a difference, though I still like to keep

[2017-05-07 19:11] achamess commented on #102
Hi Ian,
Yes, it worked. Or at least I think it did. The major conclusion from this was that there are very diminishing returns for deeper sequencing in our case. We found that 60-80% of our reads are removed as duplicates using the default UMI counts settings. That's a ton, but probably accurate. Just the nature of single cell stuff I think. Do you have any thoughts about using the other settings?

[2017-05-08 09:19] IanSudbery commented on #102
Do you mean that the median UMI is present in 3000 copys or that the median gene has 3000 UMIs?

The only settings that are really going to make a difference for your are the method and the edit distance calculation: at very high saturation positions (i.e. nearly all the UMIs are used), there are some minor benefits to using the adjacency method over the directional method. Of course this will be

[2017-05-08 12:19] achamess commented on #102
Hi,
I mean that the UMI median for each cell is 3000. That's after dedup. I don't doubt that. It's probably right. I was just surprised about how much gets removed pre and post dedup.

Sent from my iPhone

[2017-05-08 14:07] TomSmithCGAT commented on #114
@IanSudbery. Could you review 5793e24. This is a first attempt to make a count command.

I've written a new simplified generator `umi_methods.get_gene_counts` to return the umi counts per gene and rejigged the input for `network..ReadClusterer` so it will work from just umis + umi counts (group and count commands) or with bundles (dedup command).

On a related note, `ReadClusterer` has become a bi

[2017-05-08 14:56] IanSudbery commented on #114
The code_algos_in_c branch has already refactored along those lines. In
this branch the UMICluster class takes a dictionary of UMIs and counts and
Clusters them into a list of lists. Our best guess at the representative
UMI is the first item in each list.

The class ReadCluster is now a wrapper around UMIClusterer that take
bundles of reads and converts them into a dictionary of UMI counts and
cal

[2017-05-08 15:20] TomSmithCGAT commented on #114
Ah great. I must have seen this previously but forgotten!

I think we should look to merge this into master then rather than waiting until the network code has been recoded into a C library as it'll make the codebase much easier to maintain in the meantime. Are you happy for me to go through the code_algos_in_c branch and merge this into master?

[2017-05-08 16:17] #105 closed

[2017-05-09 08:41] TomSmithCGAT commented on #96
The code_algos_in_c branch has been merged into master (#117, #118)

[2017-05-09 09:57] TomSmithCGAT commented on #114
The code_algos_in_c branch has now been merged into master.

I made a second branch to add the count command to simplify the process of merging the commits on that branch and the previous {TS}-Add_count_command branch as they covered a lot of the same code. The count command is now ready to be merged into master (I hope): #119

[2017-05-09 10:03] TomSmithCGAT opened #120 "Add sort option for dedup, group and count"
The output from dedup, group and count is currently unsorted. Dedup and group output can be passed to samtools sort by the user but this functionality can also be added easily and may be useful for users (see comments by @jhl667 in #31). We can output to a temporary file and use pysam.sort() to do this.

Count output is also unsorted but could be sorted by gene name easily.

[2017-05-09 10:07] TomSmithCGAT commented on #31
hi @jh667. An option to sort the output will be included in version 0.5. See #120.

[2017-05-09 10:07] TomSmithCGAT commented on #31
I'm closing this issue now as the run time issues seem to have been dealt with. Any future issues with run time can be discussed in a separate issue

[2017-05-09 10:07] #31 closed

[2017-05-09 10:09] TomSmithCGAT commented on #44
Closing this issue. For future developments with per-gene read counting see #114

[2017-05-09 10:09] #44 closed

[2017-05-09 10:16] TomSmithCGAT opened #121 "Add option to count using flatfile input"
Read counting tools such as featureCounts can output a flatfile containing the read ids and gene assignment. It would be good to include an option to input this flatfile rather than a BAM into umi_tools count. See comments by @MarinusVL in #44 for motivation

@IanSudbery - As I see it, all we need to do is make a simpler generator to be used in place of umi_methods.get_gene_count.

[2017-05-09 10:18] TomSmithCGAT commented on #58
Hi @mattgeorge28. I'm going to assume it's OK to close this issue now? Feel free to reopen it if you need to continue the discussion.

[2017-05-09 10:18] #58 closed

[2017-05-09 10:25] TomSmithCGAT commented on #59
@nmukherjee Have you re-tried this with the latest version? We were getting very long run times in specific cases which have been resolved.

Did you find any other software which was more suitable for your analysis?

[2017-05-09 10:26] #64 closed

[2017-05-09 10:27] TomSmithCGAT commented on #92
Hi @simiii123. Are you still getting incorrect output with _extract_?

[2017-05-09 10:43] IanSudbery commented on #114
Your add_count_command branches are still both using ReadCluster rather
than UMICluster. Is this deliberate?

[2017-05-09 11:03] TomSmithCGAT commented on #114
The previous `add_count_command` branch has been deleted. The current (`add_count_command2`) branch uses the new ReadClusterer (ie. incoportaing UMIClusterer) as per the _group_ command. Sorry for any confusion about the branches. I set up this new branch from master, post the merge with `code_algos_in_c` to avoid resolving complex conflicts and make my life easier!

[2017-05-09 11:06] TomSmithCGAT commented on #114
Think I may have missed the point there. Are you suggesting just using the UMIClusterer for _count_ without the ReadClusterer wrapper since all we need are the number of groups, not the reads and umi counts? This does make sense

[2017-05-09 11:08] IanSudbery commented on #114
Yes, that was my point. I was just  trying to work out where your read
bundle came from at the moment in count, since you don’t remember reads.

[2017-05-09 11:10] IanSudbery commented on #114
But of course you we don't actually access the "read" part of the bundle unless deduplicate is true!

[2017-05-09 11:19] TomSmithCGAT commented on #114
Yup. I didn't bother returning a bundle at all in the previous branch but I went back to it here to fit in with the changes in your branch. Your suggestion to just use UMIClusterer makes much more sense so I'll do that.

[2017-05-09 11:30] TomSmithCGAT commented on #114
By the same logic, we don't really need to use the ReadClusterer for _group_ either given we just need to clusters (groups). So ReadClusterer doesn't need the `deduplicate` switch and should be called something like ReadDeduplicator.

[2017-05-09 11:38] IanSudbery commented on #114
I suppose what read cluster does its take the output of get_bundles and
transform it into an input suitable for UMICluster.

Removing support for group from ReadCluster would simplify it as the
deduplicate if statement would not be necessary. But the conversion code
would then need to be duplicated in the group script.

Swings and roundabouts.

[2017-05-09 11:56] TomSmithCGAT commented on #114
Yeah I think the transformation of the bundles into UMIClusterer input is simple enough (2 lines to extract umis and umi counts) that it would be worth duplicating these 2 lines in the group script to simplify the ReadClusterer

[2017-05-09 13:16] TomSmithCGAT commented on #114
_group_ and _count_ now use UMIClusterer and _dedup_ uses ReadClusterer (renamed ReadDuplicator). This is all ready to merge into master when tests pass (#119)

[2017-05-09 13:52] #114 closed

[2017-05-09 15:52] TomSmithCGAT commented on #113
We currently support --per-gene deduplication with genome mapping providing the BAM contains a tag with the gene id or transcript_id and a transcript2gene map file. We have no plans to support --per-gene deduplication when gene tags are not present.

[2017-05-09 15:52] #113 closed

[2017-05-09 16:03] TomSmithCGAT opened #123 "Remove "per-gene" options for group and dedup?"
We now support `-per-gene` with _group_, _count_ and _dedup_ commands. For _group_ and _dedup_, this method is problematic when used with `--gene-tag` since the BAM file may not be  sorted in gene-tag order due to overlapping genes. For the _count_ method, we can get around this by storing umi counts per gene until we reach the end of a chromosome since the counts take much less memory than storin

[2017-05-09 16:12] TomSmithCGAT opened #124 "Add a scRNA-Seq guide"
Going by the issues raised, the major application of UMI-tools appears to be scRNA-Seq. It would be very helpful to have a guide to using UMI-tools in scRNA-Seq.

This should cover:

- The use of _extract_ to:
    - Extract cell barcodes and UMIs (with at least a couple of different forms of UMI barcode encoding)
    - Estimate the number of true cell barcodes (knee vs. network-based methods)

[2017-05-10 09:32] TomSmithCGAT commented on #111
Ok so there are functionalities we need to add with UMI-tools _extract_. I suggest we do these sequentially:

- [ ]  Extract cell barcodes. This should allow extraction from any encoding pattern.
- [ ]  Identify the 'true" cell barcodes by 'knee' method or network-based method.
- [ ]  Error correct cell barcodes

[2017-05-10 15:48] nmukherjee commented on #59
I am so sorry for not replying earlier...things have been quite busy. I will retry with the latest version and get back to you. For now I simply excluded ERCCs/Scaffolds. One extra tidbit: the slow run time (in the older version) seems to only be the case for paired-end reads on ERCCs or scaffolds. Single-end reads ran just fine. Anyway, will get back to you in soon.

[2017-05-11 16:48] TomSmithCGAT commented on #111
Hi @IanSudbery. I've re-written _extract_ so that it now works from a regex rather than a pattern of N/Xs. See b35e9c8ff6b6893972809cf6ceddd44b61949227.

This approach gives is much more flexible than over simply extending the N/X approach. We can now handle:
- Almost any conceivable umi encoding
- Different length barcodes (see the indrop example in tests.yaml)
- Encodings dependent on e.g poly T

[2017-05-12 15:54] TomSmithCGAT commented on #111
I've changed over to the regex module to allow "fuzzy" matches (f35f304f3ab652b7dd63aec3363daca5b8b8be65).

This enables the user to specify much more complex matches, inc substitions (as show in the indrop_fuzzy test) and insertions and deletions (see https://pypi.python.org/pypi/regex/ ; 'Approximate “fuzzy” matching'). This could be useful in the non-barcode portion of the match but we should m

[2017-05-15 10:57] croth1 opened #126 "Installing extension modules in setup.py?"
Is there a reason for not building the extension modules in the `setup.py` file, but generate them on the fly when needed?

This seems to give me permission errors when working with a python interpreter that I do not have write access to:

[code]

[2017-05-15 15:06] IanSudbery commented on #126
Currently if you needed root to install, you'll need root the first time you run (you can just run --help). The reason we currently run things this way is to avoid dependency order problems (i.e. to avoid have install dependencies, rather than just run dependencies). We may revisit this.

[2017-05-15 15:36] IanSudbery commented on #111
--3-prime etc options? We could do this with a function that read these old
functions in and converted them to the correct regex and make clear these
functions are deprecated and liable to be removed from future versions.
What do you think?

Definitely, at least in the short term. In the long term I think that if we
do remove the –bc-pattern option, we need to supply a simplified option to
just ex

[2017-05-15 17:47] croth1 commented on #126
Excuse my followup question here, unfortunately I'm not familiar with the build system involved here:

`umi_tools dedup --help` creates `_dedup_umi.c` for me, but does not create a shared library yet. Will that work, or will it need a second write access for compiling the a `.so`  file?

[2017-05-16 16:14] TomSmithCGAT commented on #111
I've reinstated the --bc-pattern options and included a --extract-method option so that the user can either provide a string of X/N/Cs to extract UMI +/- cell barcodes or a regex (see 92ddf1c0de07e4a3759af8e2bfd9d43fc343191e).

[2017-05-16 16:51] TomSmithCGAT commented on #111
I've also had a quick look at the merits of using the network-based methods for detecting the true cell barcodes. I started with the Soumillon et al SCRB-Seq data since this involves 384 whitelist barcodes so I've got a ground truth. The plots below shows the sensitivity and FPR with increasing numbers of reads parsed (not sampled randomly). I was lazy with the 'knee' method and just took the top

[2017-05-16 18:11] gresteban opened #127 "--whole-contig vs --per-contig"
Hi,

I've been reading the documentation and the different threads but there is an option that I cannot understand:

The description for the `--whole-contig` option has changed in the current version from

to

From the latter, I find it confusing with the `--per-contig` option:

Also, @IanSudbery states in #16:

By their descriptions, `--whole-contig` seems redundant with `--per-contig` to me, so

[2017-05-16 19:36] TomSmithCGAT commented on #127
Hi @gresteban. Apologies for the confusion and thanks for binging up the discrepancy in the documentation.

To be clear, the `--whole-contig` option forces _dedup_ to parse an entire contig before yielding any reads for deduplication. This is the only way to absolutely guarantee that all reads with the same start position are grouped together for deduplication since we are working from the start p

[2017-05-17 08:34] IanSudbery commented on #127
Sorry if i've caused confusion by suggesting the wrong option.

[2017-05-18 00:40] gresteban commented on #127
Thanks for all the detailed explanations, it's clear now. Maybe, the `--whole-contig` option could be recommended for long-read sequencing only in the documentation, mentioning the 1000bp limit.

I'm aware of the new options that you're implementing for version 0.5 and I'm already subscribed to the corresponding threads to be updated with their progress. For the moment, `--per-contig` seems exactl

[2017-05-18 13:03] TomSmithCGAT commented on #111
First off, the good news: I've implemented a version of the 'knee' method. Now the bad news, network-based methods will not work for droplet scRNA-Seq.

**Knee method**
I started with the SCRB-Seq data again and tried to identify the 'inflection' point in the graph of ranked cell barcodes vs. cumulative sum of reads, as suggested in the drop-seq paper (See [Supp.Fig 3A](http://www.sciencedirect.co

[2017-05-18 17:42] TomSmithCGAT commented on #111
I've spun this out into a [post on the CGAT blog](https://cgatoxford.wordpress.com/2017/05/18/estimating-the-number-of-true-cell-barcodes-in-single-cell-rna-seq/?iframe=true&theme_preview=true) to try and help publicise what we're up to with UMI-tools at the moment.

[2017-05-22 17:08] leleonp opened #129 "Dedup question"
First at all, thanks for this very nice tool!!!
Second, I just wondering how the _dedup_ for paired-end sequencing works?
It takes into account the UMIs of 5' and 3' together to remove the reads, or only take into account
one end (5' or 3')?
Thanks in advance
Best regards

[2017-05-23 08:36] TomSmithCGAT commented on #129
Hi @leleonp. For paired-end sequencing, if the UMI is split across the two reads, we expect the two UMsI to be concatenated and this concatenated UMI attached to the end of both read pairs. This way, the two UMIs are considered together in the downstream deduplication. This can be performed with _extract_ with the `--split-barcode`, `-bc-pattern2`, `--read2-in` and `read2-out` options.

In the dow

[2017-06-02 01:10] jsolvason opened #130 "error raised in group command"
It may be the way that I prepped the .bam file... but I am receiving this error when executing the group command:

`umi_tools group -I in.srt.indx.bam --paired --group-out="out.tsv" --output-bam -S "out.bam"`

[code]

Cliffnotes on the data prep up to this point...

1. cutadapt (quality + adapter trim)
2. umi_tools extract
3. cutadapt (removes constant region of a mutagenized library)
4. bowtie2 (

[2017-06-02 05:56] Simon-Coetzee opened #131 "Question about group / dedup --per-gene"
When I run the following command (or a similar dedup command):

`umi_tools group -I test.bam --per-gene --gene-transcript-map='gene2rapmap.tsv' --edit-distance-threshold=2 --group-out=test.bam.grouped.tsv --output-bam -S test.group.2.bam -L test.group.2.log --`

dedup command looks like this:
`umi_tools dedup -I test.bam --per-gene --gene-transcript-map='gene2rapmap.tsv' --edit-distance-threshold=

[2017-06-02 08:50] IanSudbery commented on #130
I think I can see the problem here, but I need to check with @TomSmithCGAT who wrote the group code.

Tom: Should is this call to TwoPassWriter.write rather than AlignementFile.write left over from before you refactored group?

[2017-06-02 08:59] IanSudbery commented on #131
Hi Simon,

You need `--per-contig` as well in your options to get the behaviour you want. @TomSmithCGAT Perhaps `--per-gene` was going to imply `--per-contig` (To be honest, I thought we'd already done this)

[2017-06-02 09:20] TomSmithCGAT commented on #130
Correct. Sorry, this is a bug from the refactoring. Paired end reads are written out immediately so we don't use TwoPassWriter any more. We need to make the following change. I'll do this on a branch now

Current:
[code]

Patch:
[code]

[2017-06-02 09:42] TomSmithCGAT commented on #130
Hi @jsolvason. I've pushed the changes above to the  {TS}-Group_patch_write branch. Would you mind installing from this branch to check this resolves your error. I can give you instructions for how to install from the branch if you would like?

[2017-06-02 09:51] TomSmithCGAT commented on #131
@IanSudbery. It shouldn't be neccessary to supply the --per-contig option as well. With the --per-gene and -gene-transcript-map options, _dedup_ will add the "meta-contig" tag (MC) to the reads as shown above. The deduplication should then proceed using the MC tag as the gene tag. I can't see any obvious reason why this doesn't work as expected.

@Simon-Coetzee, what version of UMI-tools are you u

[2017-06-02 09:52] TomSmithCGAT commented on #131
Ah ha. I think I have it. @Simon-Coetzee, I'll make a branch with a patch now.

[2017-06-02 10:02] TomSmithCGAT commented on #131
@Simon-Coetzee. Would you mind installing from the {TS}-Patch_per_gene branch to see if this resolves the issue. I can give you instructions for installing from a branch if you would like?

[2017-06-02 14:16] jsolvason commented on #130
Thanks for the swift response! Yes let me know how to install the branch
and I'll try it out.

On Fri, Jun 2, 2017 at 2:42 AM Tom Smith <notifications@github.com> wrote:

--

Joseph Solvason
Chimera Bioengineering

[2017-06-02 15:55] TomSmithCGAT commented on #130
If you've got git installed, you can clone this directory:
[code]

checkout the branch:

[code]

and then install with:

[code]

If you don't have git, you should be able to install with pip using:
[code]

[2017-06-02 16:50] Simon-Coetzee commented on #131
@TomSmithCGAT, Thank you, I've got the branch installed and I'm running `dedup` now. If that works I'll check `group` and report back. Since I have you, is it possible to have dedup also place the `BX` tag in the bam? Or some other tag?

[2017-06-02 17:11] Simon-Coetzee commented on #131
@TomSmithCGAT , so for `group`, I get this error now:
[code]

[2017-06-02 19:15] singerj opened #132 "--paired causes crash"
If I specify the --paired option I get the following message:

File "UMI-tools-0.4.4/bin/umi_tools", line 11, in <module>
    sys.exit(main())
  File "UMI-tools-0.4.4/lib/python2.7/site-packages/umi_tools/umi_tools.py", line 46, in main
    module.main(sys.argv)
  File "UMI-tools-0.4.4/lib/python2.7/site-packages/umi_tools/group.py", line 520, in main
    outfile.write(read, unique_id, top_umi)
Ty

[2017-06-02 19:19] IanSudbery commented on #132
See issue #130

[2017-06-02 19:34] singerj commented on #132
Thank you for the swift response! Indeed, the patch proposed for issue 130 solved the problem.

Many thanks,
Jochen

[2017-06-03 16:20] jsolvason commented on #130
Sorry for the delayed response. Coworkers defense was yesterday.

Doesn't look like I have permission to download with a public key via git.
When I tried pip it said that all requirements were already satisfied (so
I'm not sure if anything was downloaded...).

When attempting to rerun group I got the same error message.

[image: Inline image 1]

[image: Inline image 2]

Joseph Solvason
Chimera Bio

[2017-06-03 16:51] jsolvason commented on #130
Not sure if this is common but I had to uninstall umi_tools in order to install the branch. I am running the program now with no error raised so far. I'll let you know how it goes!

Thanks guys,

Joe

[2017-06-03 17:31] jsolvason commented on #130
Side question... How long (ball park estimate/range) do you expect the the typical dedup or group command to take?

[2017-06-04 09:12] IanSudbery commented on #130
We have benchmark iCLIP (5nt UMIs, very high duplication levels ) and
single cell (10nt UMIs,  less highly duplicated) that take about 1.5
minutes and 2 minutes per chromosome respectively.

We do keep collecting pathological cases from people that take much longer
though. Its it taking loads longer for you? We do have a speed improvement
in the works.

On Sat, 3 Jun 2017, 6:31 pm jsolvason, <noti

[2017-06-04 22:51] jsolvason commented on #130
I suspect something is going wrong. It will take on the order of a day and many times when I come back to the computer it will say "Killed: 9". I'm not sure what may be different or odd about this data set that is making it take so long.

[2017-06-05 08:42] TomSmithCGAT commented on #131
Hi @Simon-Coetzee. Could you try re-installing the branch again. We didn't have any tests covering the per-gene option with group so this bug was missed previously. This should have been rectified now.

Am I correct in thinking you are also ultimately using the per-gene option for "read counting"? I ask because, in the long term, we're considering removing the --per-gene options from _dedup_ and _

[2017-06-05 09:29] IanSudbery commented on #130
Yeah, definitely something funny going on.

The best way to troubleshoot this would be for us to have a look at some of the data. I don't know if this is something you would consider? The data could be anonymised if that helps (replace sequence and qualities with *, add a number (that only you know) to the mapping positions.).

We can profile the code running on your data and see what the issue it

[2017-06-05 16:42] jsolvason commented on #130
Yes, definitely! Thank you for the help. What is the best way to send you the data? I'd prefer to do it over email or some other direct communication.

[2017-06-05 20:24] Simon-Coetzee commented on #131
Hi again @TomSmithCGAT . So dedup looks like it's working now (The run time has increased a lot, but I assume that's because it's actually doing the dedup work now). The end of the log shows this
[code]
`group` is running currently and hasn't crashed, which is a good sign. I'm also trying `count` since, yes, your intuition was right that i was using this for umi counting. It's still running, but l

[2017-06-06 09:04] TomSmithCGAT commented on #131
We'll be supporting per-cell counting from a single BAM very soon! We should have a working version on a branch later this week if you wanted to test it out?

I'll have a look into that count output - not very useful having no gene names!

That seems a long run time for 70M reads. I'm guessing this is because you have some genes with many UMIs which is making the network building stage very time c

[2017-06-06 14:05] IanSudbery commented on #130
I have looked at your file.

It contians around 1.9 million reads, which correspond to 500k unique UMIs. 490k of these are mapped to a single location on a single contig. (thats almost 50% of the total possible UMI space for 10mer UMIs).

In order to do the network building the algorithm has to compare every UMI at one position with every other UMI at that position. This is 2.4*10^11 comparisons.

[2017-06-06 17:55] IanSudbery commented on #130
Hmmm ... it ran out of memory even with 100GB. Although I'm not quite sure why. My calculations suggest that it should not need that much memory. Unless storing the reads themselves is taking a lot of memory....

[2017-06-06 17:59] jsolvason commented on #130
You all have been such a great help! I was in the middle of writing this
email when I got the email that the run had failed.

If the reads were to map to more contigs, would that require less space?
This was a test run of a single member library to validate our sequencing
pipeline and data analysis. The subsequent analyses will be with full
libraries.

Any other suggestions? When do you think the

[2017-06-07 08:21] IanSudbery commented on #130
Absolutely, if those same reads were split over all of the contigs you have in that file, the run would be very quick. For example, the you have a contig in there with 1,700 reads. It took 12 seconds and used so little memory I couldn't measure it.

[2017-06-07 17:00] JakeHagen opened #133 "options.gene_map should be options.gene_tag ?"
Hello,

I know there is currently some flux with the gene_tag in dedup.py and count.py, but i think the code below should be gene_tag, not gene_map

[code]
It works as expected when changed.

Thanks

[2017-06-07 17:36] TomSmithCGAT commented on #133
Yep, this looks like a typo! I'll fix on the master directly. Thanks!

[2017-06-07 17:37] #133 closed

[2017-06-07 18:41] jsolvason commented on #130
Ah so umi_tools only makes comparisons of UMIs in reads that map to the
same contig?

Therefore, If we had redundant UMIs (say, AAAA) in three individual reads
(AAAA-read1, AAAA-read2, AAAA-read3) that map to three different contigs
(contig1, contig2, contig3), umi_group would ouput 3 groups even though the
reads had the same umi?

Joe

Joseph Solvason
Chimera Bioengineering

On Wed, Jun 7, 2017 a

[2017-06-08 09:13] IanSudbery commented on #130
Infact, unless --per-contig or --per-gene were specified in the commandline, reads that mapped to different bases within the same contig would be assigned to different groups even if they had the same UMI.

Doing an overall group/dedup is not something we currently offer. However, something like this might be offered in the framework that @TomSmithCGAT is working on for demultiplexing reads from d

[2017-06-08 10:42] MeAndATCG opened #134 "Edit-distance option"
Thank you very much for designing/releasing a wonderful package. Great algorithm!!!

I need your help with edit distance option. In particular, I need to know how to generate the average edit distance plot (regenerate Fig.1-B in your paper), so I can change edit distance default setting.

Thank you!!!
Sheida

[2017-06-08 12:46] TomSmithCGAT commented on #130
@jsolvason - When you say 'single member library ', do you mean the library preparation was done from a sample with only one sequence? What will the 'full libraries' contain?

[2017-06-11 18:05] jsolvason commented on #130
The full libraries will contain a total of 7,776 or 15,552 members

[2017-06-15 19:40] k3yavi opened #135 "Doubt: `multimapping-detection-method` flag"
Hi guys,

I was wondering what's the default behavior of `umi_tools extract` w/o `multimapping-detection-method` flag?
Basically, say I have a multi-mapped SAM file on txptome and I use following two commands:
[code]
[code]
Do we expect different `<OUTPUT>` files? If yes, does that mean for the first case, it is just like `--per-contig` option i.e. selecting randomly one txp for each gene? and how

[2017-06-16 18:45] jsolvason commented on #130
Hello again,

The full 7776 member library has been sequenced and I'm analyzing it not with umi_tools dedup. It has taken 1.5 hours so far.

Might you have a prediction for run time if there are 7776 members in the library, 7776 reference sequences, and 1M reads?

Best,

Joe

[2017-06-19 03:43] andreas-wilm commented on #126
Hi all, just wanted to bump this thread. I ran into a similar problem (ImportError: No module named network) when running dedup as user for the first time (installation was done as admin). This was solved by running dedup once as admin. This is obviously confusing for users and also an awkward solution. But it does work :)

Andreas

[2017-06-19 08:39] TomSmithCGAT commented on #135
Hi Avi.

The multimapping detection method is just used to select one 'best' read for each UMI at each position. By default, the read with the highest MAPQ is selected. If you supply a multimapping detection method, the read with the fewest mappings is selected.

We've decided not to resolve multimapping reads since there are many ways to handle multimapped reads with UMIs depending on the particu

[2017-06-19 08:45] TomSmithCGAT commented on #134
Hi @MeAndATCG. You can generate the average edit distance statistics using the
`--output-stats=[FILE_PREIFX]`
option, replacing `[FILE_PREFIX]` with a filename prefix. This will output a file called [FILE_PREFIX]__stats_edit_distance.tsv.

As a rough guide, we recommend using the default edit distance of 1 for UMIs <14bp and an edit distance of 2 for UMIs >=14bp. If you have very high error rates

[2017-06-19 08:45] #132 closed

[2017-06-19 08:48] TomSmithCGAT commented on #131
Hi @Simon-Coetzee. Are you OK if we close this issue now. I'll merge this branch into the master.

[2017-06-19 09:34] TomSmithCGAT commented on #112
I'm moved this back to 'To Do' since we haven't actually finished off the handling of cell barcodes. The last step is to support cell barcodes within _group_, _count_ and _count_tab_

[2017-06-19 09:36] #130 closed

[2017-06-19 09:36] #131 closed

[2017-06-19 11:56] TomSmithCGAT opened #138 "Filter whitelisted barcodes within edit distance of another whitelisted barcode"
Based on my analysis of droplet scRNA-Seq cell barcodes (e.g blog post [here](https://cgatoxford.wordpress.com/2017/05/23/estimating-the-number-of-true-cell-barcodes-in-single-cell-rna-seq-part-2/)), I think we should add the option to remove cell barcodes within the automatically generated whitelist if they are within an edit distance threshold of another whitelisted barcode with greater frequenc

[2017-06-19 14:45] MeAndATCG commented on #134
Thank you very much for your help, Tom!!!
I always look into stat_edit_distance.tsv file, but I do not understand why UMIs count does not match/correlate with my total prior and post UMI count. As an example, consider I have an input bam file with 589554 reads (UMIs) and output (dedup) of 74515 UMIs. Here is the edit distance file:

directional	directional_null	edit_distance	unique	unique_null
90

[2017-06-19 19:29] k3yavi commented on #135
Thanks @TomSmithCGAT .

[2017-06-19 19:29] #135 closed

[2017-06-20 07:37] #127 closed

[2017-06-20 07:37] #120 closed

[2017-06-20 12:40] IanSudbery commented on #134
The edit distance stats shows the number of *positions* with each average edit distance, rather then the number of reads. Thus each one of those 46 positions with an average edit distance of 8 may have many reads.

However, your results do look very extreme. They suggest that your 75k reads map to only a very small number of locations. Is this what you would expect? What is the results of running

[2017-06-20 15:23] MeAndATCG commented on #134
Yes, this is what I've expected, a few targets. Thank you for clarification!!!

[2017-06-20 15:23] #134 closed

[2017-06-30 11:38] IanSudbery commented on #126
We will try and get this done in 0.5

[2017-06-30 12:40] TomSmithCGAT commented on #123
We're going to remove the option to run _group_ and _dedup_ with `--per-gene --gene-tag`, thus we wont support alignment to a genome and -per-gene deduplication or grouping. It will still be possible to count per-gene using a gene-tag.

The use of '--per-gene --gene-tag' with _dedup_ or _group_ will raise an error and suggest the user can use _count_ if they wish to obtain per-gene UMI counts

[2017-07-03 14:55] IanSudbery opened #140 "regex depedency not documented"
The new regex dependency is not documented anywhere.

[2017-07-03 15:04] IanSudbery commented on #140
And scipy dependency

[2017-07-03 15:08] TomSmithCGAT commented on #140
They're both included in setup.py and requirements.txt. Do you mean the dependency is not noted at the bottom of the Github repository readme?

[2017-07-03 15:15] IanSudbery commented on #140
Or in the manual installation instructions.

[2017-07-05 17:43] TomSmithCGAT commented on #123
During the development of the count command and all the single cell changes, the options for --per-gene analyses and how these are handled have become a little messy. I'm going to recode so all commands use the same logic internally regarding per-gene grouping/deduplication/counting. Thus, for the following alignments, the following options will be required.

- Alignment to a genome + gene assignm

[2017-07-05 21:31] rpadmanabhan opened #144 "Failure to import umi_methods module"
I encountered that importing umi_methods will fail since the Cython module _dedup_umi fails to import. A quick fix I found for this was by adding this before the import statement :

[code]
Not sure if this is restricted to my python version, but thought it might be useful in case some else runs into this.

[2017-07-10 15:38] IanSudbery commented on #144
I think we didn't bother with this since any module in umitools that imports umi_methods will have already installed pyximport. I assume you are importing umi_methods directly into something?

From version 0.5, due any time now, we will be switching to distributing pre-cythonised extensions, so the pyximport won't be necessary.

[2017-07-10 17:55] rpadmanabhan commented on #144
I was just using the command line to run umitools (the dedup function)  , I was getting a traceback error where in _dedup_umi is not imported in umi_methods.

It doesnt seem like dedup.py is installing pyximport.

Anycase looks like all this wont be required for the future. Thank you.

[2017-07-11 13:06] #129 closed

[2017-07-11 13:13] TomSmithCGAT commented on #140
See #139

[2017-07-11 13:13] #140 closed

[2017-07-11 16:37] TomSmithCGAT commented on #123
Above done. See #139

I've also added options to `Utilities.Start()` to add the generic options for _group_/_dedup_/_count_ and included a simple options validation function in `Utilities`. The options are now grouped more sensibly and the documentation for the shared options is standardised via a generic docstring. Hopefully all of this will help the user understand the purpose of the considerabl

[2017-07-11 16:37] #123 closed

[2017-07-17 19:03] garrett-parker opened #146 "Error running setup.py"
Hi, I'm having trouble completing the install instructions. I want to be able to run umi_tools commands, but received this error following the install instructions.

[garrettp@n9923 UMI-tools-master]$ python setup.py install --user
Extracting in /tmp/tmpkEEr1r
Now working in /tmp/tmpkEEr1r/setuptools-10.0
Building a Setuptools egg in /u/home/g/garrettp/CSH_UMI-Tools/newTest/UMI-tools-master
Traceb

[2017-07-18 09:11] IanSudbery commented on #146
Hi Garret,

The real error is half way up that error stack:
[code]

and is an error in installing or upgrading setuptools, which is a dependency of umi_tools. The minimum version of setuptools we require is 10.0 (the current version is 30-something).

This issue:
https://github.com/pypa/setuptools/issues/320

Suggests it might be an incompatibility with the some Ubuntu versions. WHat OS are you ru

[2017-07-18 09:13] samvidav opened #147 "ValueError reference id out of range for umi dedup"
Hi, I have been trying to run umi_tools dedup on a large number of BAM files after STAR alignment, and I get the same ValueError reference_id -1 out of range error for each of them -

`Traceback (most recent call last):
  File "/home/obgynae/svenkate/.local/bin/umi_tools", line 11, in <module>
    load_entry_point('umi-tools==0.4.4', 'console_scripts', 'umi_tools')()
  File "/home/obgynae/svenkate

[2017-07-18 09:35] IanSudbery commented on #147
The reference_id of -1 is returned when the read is unmapped. The line causing the error suggests that umi_tools is trying to retrieve the contig of the mate of the current read. However, umi_tools checks the flags to see if the mate is unmapped and doesn't ask for its contig if its told that it isn't.

Thus the most obvious problem here would be that you have a read that claims its mate is mapped

[2017-07-18 09:49] samvidav commented on #147
I just checked the mate mapping on some of the BAM files and the output is indeed empty. Additionally, I don't know if this helps in identifying the issue but dedup does produce an output file - it has just the header and nothing else.

[2017-07-18 10:12] IanSudbery commented on #147
Sorry, that command should have been
[code]

That the output contains only the header suggests the first read that it tries to output is breaking it!

You could also try sending me the first few lines of your BAM (or the first chr would be even more helpful). Remove the sequence and qualities (replace them with *) if that makes you feel more comfortable. FUrthe anonmyissation can be achieved by ad

[2017-07-18 14:12] samvidav commented on #147
Ah okay, with that change in awk I seem to have found the problem - the BAM files are invalid. It works after mapping again!

[2017-07-18 14:12] #147 closed

[2017-07-18 18:27] garrett-parker commented on #146
Thanks, I have been receiving permission denied errors when I try to install setuptools.
My OS is CentOS 6.9

pip returns
[code]

[2017-07-19 05:02] garrett-parker commented on #146
I was able to solve this issue by loading python 2.7.13
[code]

Thank you, now my problem is that when I enter
[code]

[2017-07-19 10:23] IanSudbery commented on #146
Looks like you don't have the correct permissions to write to your local library. Have you tried with `--user` on the `pip install umi_tools`?

[2017-07-20 13:07] #111 closed

[2017-07-20 21:21] garrett-parker commented on #146
Thanks. I successfully installed umi_tools. However,
[code]
isn't working.

[2017-07-24 09:02] IanSudbery commented on #146
I'm assume you got this working?

[2017-07-24 11:09] koelling opened #148 "Python interface?"
I was wondering - is there a good way to call umi_tools methods directly from a python script, rather than through the executable?

I have a python script in which I collect a set of reads at a given position and then want to do things with them based on their UMI groups. At the moment I do this by first running `umi_tools group` on the BAM file (using the adjacency method), reading the grouped BA

[2017-07-24 11:15] IanSudbery commented on #148
Yes, that is exactly right.

An official interface to this is something we are working on, what you've found is the refactoring we've done recently to make this possible. Eventually we hope to make this a C-library to aid with portability to many libraries.

At the moment, as the interface is currently internal I can't guarantee it won't change. That said, I think that change is unlikely in the ne

[2017-07-24 11:17] IanSudbery commented on #148
Oh, and just checking that you meant to do adjacency clustering rather than directional adjacency clustering (using `method="directional"`)? Directional is usually our recommendation, unless you have specific reasons to use `adjacency`.

[2017-07-24 16:49] garrett-parker commented on #146
Not quite. I closed it because I succeeded in installing umi_tools. However, the umi_tools commands aren't working.

[code]
returns
[code]

[2017-07-24 16:51] IanSudbery commented on #146
You did loaded a different version of python in to do the installation right?
Have you made sure this is active before you call umi_tools?

[2017-07-24 17:51] garrett-parker commented on #146
which python returns
[code]

[2017-07-24 18:13] koelling commented on #148
Yes, I meant directional, sorry! So something like this should work then?

[code]

Is there anything else I should keep in mind if I use this? Any reason you require UMIs and counts as two separate arguments instead of just doing `umis = counts.keys()`?

I did actually just try to run this, but realised that the latest release doesn't actually include these changes yet. Do you know when this might